<template id="SkillView" name="SkillView">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-header card-header-icon" data-background-color="blue">
                                <h4 class="card-title">Skill View</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="col-lg-8 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-info">
                                            <tr>
                                                <th>Skill Name</th>
                                                <th>Category</th>
                                                <th>Subject</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Boxing Bag Work</td>
                                                <td>Striking</td>
                                                <td>Boxing</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-4 text-center skill-icon">
                                    <div class="card" style="margin: 0px;">
                                        <div class="card-content">
                                            <a href="#">
                                                <img style="height:col-md-60px;width:50px;" class="img"
                                                     src="../images/skill.png">
                                            </a>
                                        </div>
                                        <div class="card-footer">Skill Icon</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                    {{#if or IsInstructor IsAdmin }}
                                        <a href="/SkillEditor"
                                           class="btn btn-warning  pull-right col-md-12 text-center">Edit
                                            <div class="ripple-container"></div>
                                        </a>
                                    {{/if}}
                                    <button class="btn btn-info  pull-right col-md-12">Bookmark
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="table-responsive">
                                            <table class="table text-left">
                                                <tbody>
                                                <tr class="">
                                                    <td class="text-info ">Dependancy:</td>
                                                    <td>Falling</td>
                                                </tr>
                                                <tr class="info">
                                                    <td class="text-info">Required for:</td>
                                                    <td>Capoeira Orange</td>
                                                </tr>
                                                <tr class="">
                                                    <td class="text-info">Correlation:</td>
                                                    <td>Te Nage</td>
                                                </tr>
                                                <tr class="info">
                                                    <td class="text-info">Tags:</td>
                                                    <td>Capoeira/ Level 2/ Takedown</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-content">
                                        <h4>Instructor's Comments to Students:</h4>
                                        <p class="description text-left">
                                            "Teach With escapes": Joel Sanchez
                                            <br> "Add to Bimba's Sequences": Tito Ortiz
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card" id="skil_group">
                                    <div class="col-md-2 col-sm-6">
                                        <div class="card">
                                            <div class="card-content text-info text-center">
                                                <i class="material-icons">transfer_within_a_station</i>
                                                <h6 class="card-title">Skill 1</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i>
                                                    <a href="#pablo">5 minutes</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                       title="View"><i class="material-icons md-14 text-success">dvr</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="card">
                                            <div class="card-content text-info text-center">
                                                <i class="material-icons">directions_run</i>
                                                <h6 class="card-title">Skill 2</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i>
                                                    <a href="#pablo">5 minutes</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                       title="View"><i class="material-icons md-14 text-success">dvr</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="card">
                                            <div class="card-content text-info text-center">
                                                <i class="material-icons">directions_bike</i>
                                                <h6 class="card-title">Skill 3</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i>
                                                    <a href="#pablo">10 minutes</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                       title="View"><i class="material-icons md-14 text-success">dvr</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="card">
                                            <div class="card-content text-info text-center">
                                                <i class="material-icons">rowing</i>
                                                <h6 class="card-title">Skill 4</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i>
                                                    <a href="#pablo">13 minutes</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                       title="View"><i class="material-icons md-14 text-success">dvr</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="card">
                                            <div class="card-content text-info text-center">
                                                <i class="material-icons">accessibility</i>
                                                <h6 class="card-title">Skill 5</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i>
                                                    <a href="#pablo">10 minutes</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                       title="View"><i class="material-icons md-14 text-success">dvr</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="card">
                                    <div class="card-content text-center">
                                        <div class="card-header card-header-text pull-left"
                                             data-background-color="blue">
                                            <h4 class="card-title ">Instructor's Overview</h4>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-content text-left">
                                                    <div class="">
                                                        <h6 class="text-capitalize">Teaching Pointers:</h6>
                                                    </div>
                                                    <div>
                                                        <p>White / Yellow: drill</p>
                                                    </div>
                                                    <div>
                                                        <p>Orange Drill with Conter</p>
                                                    </div>
                                                    <div>
                                                        <p>Orange / Blue +: Jaga taking turns with counter</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="card">
                                                <h6 class="card-title text-center card-header">Instructor Comments to
                                                    Instructors</h6>
                                                <div class="card-content text-left">
                                                    <div>
                                                        <p>"Teach with escapes" Joel Sanchez</p>
                                                    </div>
                                                    <div>
                                                        <p>"Add to Bimba's Sequence" Tito Oritz</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Basic Steps
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info pull-left">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Advanced Steps
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info pull-left">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Action Clips
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info pull-left">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card">
                                    <div class="card-header card-header-text pull-left" data-background-color="blue">
                                        <h4 class="card-title ">Vingativa Instructions</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-content text-left">
                                                    <div class="">
                                                        <h6 class="text-capitalize">Basic Instructions:</h6>
                                                    </div>
                                                    <div>
                                                        <p>Entrada from kick (quexada is easiest),come in slose to
                                                            hips,arms and head in front,gentle left/twist</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-content text-left">
                                                    <div class="">
                                                        <h6 class="text-capitalize">Variations:</h6>
                                                    </div>
                                                    <div>
                                                        <p>Cross Quexada,hand shuffle into vingativa</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-content text-left">
                                                    <div class="">
                                                        <h6 class="text-capitalize">Counters:</h6>
                                                    </div>
                                                    <div>
                                                        <p>Counter to sissor,escape to negativa,escape jump over
                                                            ,Counter to rear leg sweep.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-content text-left">
                                                    <div class="">
                                                        <h6 class="text-capitalize">Comment to Student:</h6>
                                                    </div>
                                                    <div>
                                                        <p>"pair with Rastiera" Joel Sanchez</p>
                                                    </div>
                                                    <div>
                                                        <p>"Add breakfall and go to into submission" Tito Qrtiz</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Vingativa Quick View
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Vingativa Variation
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                            <div class="card card-note">
                                                <div class="card-content">
                                                    <div class="bs-example"
                                                         data-example-id="responsive-embed-16by9-iframe-youtube">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="card-footer text-center">
                                                    Action Clips
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header card-header-text pull-left" data-background-color="blue">
                                    <h4 class="card-title ">Vingativa Detailed Instructions</h4>
                                </div>
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">

                                                <div class="card ">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XIeCMhNWFQQ" frameborder="0" allowfullscreen></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Basic Vingativa Full Instructions
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card card-note">
                                                    <div class="card-content">
                                                        <div class="bs-example"
                                                             data-example-id="responsive-embed-16by9-iframe-youtube">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/9ZfwF1ue8fI" frameborder="0" allowfullscreen></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="card-footer text-center">
                                                        Vingativa Variations Full Instructions
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card card-note">
                                                    <div class="card-header">
                                                        <span class="label label-info">Notes:</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card card-note">
                                                <div class="card-content">
                                                    <div class="bs-example"
                                                         data-example-id="responsive-embed-16by9-iframe-youtube">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z1riSAUlpxY" frameborder="0" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="card-footer text-center">
                                                    Vingativa Escape Full Instructions
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-8">
                                            <div class="card card-note">
                                                <div class="card-header">
                                                    <span class="label label-info">Notes:</span>
                                                </div>
                                                <div class="card-content">
                                                    <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
