<template id="MVPSidebar" name="MVPSidebar">
    <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/images/background.jpg">
        <!--
  Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
  Tip 2: you can also add an image using data-image tag
  Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
        <div class="logo">
            <a href="#" class="simple-text">
              <img src="/images/logo-location.png" alt="logo" width=80>
            <!-- <img src="/images/logo1.png" alt="logo" width=48> -->
          </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
              SS
          </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{{ValidateImage pic}}" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" >
                      {{user_name}}
                      <!-- <b class="caret"></b> -->
                  </a>
                </div>
            </div>
            <ul class="nav">
                <!-- <li class="active">
                  <a href="/schedule">
                      <i class="material-icons ">event_note</i><p>Schedule</p>
                  </a>
              </li> -->
                <li>
                  <a  href="/profile/{{user_id}}">
                      <i class="material-icons">account_circle</i>
                      <p>My Profile
                      </p>
                  </a>
                </li>
                <li>
                  <a  href="/MyCalendar">
                      <i class="material-icons">schedule</i>
                      <p>My Calendar
                      </p>
                  </a>
                </li>
              {{#each mySchool}}
                {{#if is_school}}
                  <li>
                      <a data-toggle="collapse" href="#Curriculum">
                          <i class="material-icons">school</i>
                          <p>Manage my school
                              <b class="caret"></b>
                          </p>
                      </a>
                      <div class="collapse" id="Curriculum">
                          <ul class="nav">
                            {{#each mySchool}}
                            <li>
                                <a href="/schools/{{slug}}" class="close-nav">{{name}}</a>
                            </li>
                            {{/each}}
                          </ul>
                      </div>
                  </li>
                  {{/if}}
                {{/each}}
                {{#if checkElement school_list}}
                  <li>
                      <a data-toggle="collapse" href="#Members">
                          <i class="material-icons">account_balance</i>
                          <p>Classes Attending
                              <b class="caret"></b>
                          </p>
                      </a>
                      <div class="collapse" id="Members">
                          <ul class="nav">
                              {{#each school_list}}
                              <li>
                                  <a href="/schools/{{slug}}" class="close-nav">{{name}}</a>
                              </li>
                              {{/each}}

                          </ul>
                      </div>
                  </li>
                {{/if}}
                <li>
                    <a href="/">
                        <i class="material-icons">find_in_page</i>
                        <p>Find a School</p>
                    </a>
                </li>
                <li>
                  <a  href="/claimSchool">
                      <i class="material-icons">assignment</i>
                      <p>Claim a School
                      </p>
                  </a>
                </li>
                {{#if claimRequestPresnet}}
                <li>
                    <a data-toggle="collapse" href="#admin">
                        <i class="material-icons">assignment</i>
                        <p>Claim Request
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="admin">
                        <ul class="nav">
                            {{#each claimRequest}}
                                <li>
                                    <a href="#" class="close-nav btn-primary claimProgress">{{schoolName}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/if}}

                <li>
                    <a href="/ContactUs">
                        <i class="material-icons">comment</i>
                        <p>Send us feedback</p>
                    </a>
                </li>
                {{#if IsOnlySuperadmin}}
                <li>
                    <a href="/schoolAdmin">
                        <i class="material-icons">library_add</i>
                        <p>Add schools</p>
                    </a>
                </li>
                <li>
                    <a href="/SchoolUpload">
                        <i class="material-icons">file_upload</i>
                        <p>Upload schools</p>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <script>
    $(document).ready(function() {

    });
    </script>
</template>
