<template id="PersonalInfo" name="PersonalInfo">
  <div class="content" >
      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-header card-header-tabs" data-background-color="blue">
                <div class="nav-tabs-navigation">
                  <span class="nav-tabs-title">Personal Info</span>
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="pull-right">
                                <a href="#messages" data-toggle="tab" aria-expanded="false">
                                  <i class="material-icons">edit</i> Edit
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="pull-right ">
                                <a href="#" data-toggle="tab" aria-expanded="false" class="change_password">
                                  <i class="material-icons">lock</i>Change Password
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              <div class="card-content">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Phone</th>
                                  <th>Email</th>
                                  <th class="text-right">Address</th>
                                  <th class="text-right">Subscriptions</th>
                                  <th class="text-right">Notes</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Enter</td>
                                  <td>Enter</td>
                                  <td class="text-right">Enter</td>
                                  <td class="text-right">Enter</td>
                                  <td class="text-right">Enter</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <div class="card">
            <div class="card-header card-header-tabs" data-background-color="blue">
                <div class="nav-tabs-navigation">
                  <span class="nav-tabs-title">Qualified to Teach</span>
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="pull-right">
                                <a href="#messages" data-toggle="tab" aria-expanded="false">
                                  <i class="material-icons">edit</i>Edit
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              <div class="card-content">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                <td>capoeira</td>
                                <td>Striking</td>
                                <td>Grappling</td>
                                <td>Ground</td>
                                <td>Philosophy</td>
                                <td>Sarvial</td>
                                <td>Weapons</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>5</td>
                                  <td>1</td>
                                  <td>5</td>
                                  <td>1</td>
                                  <td>5</td>
                                  <td>5</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
 <div class="row">
   {{>StudentProgressBox}}


   <!-- <div class="card">
     <div class="card-header card-header-tabs" data-background-color="blue">
         <div class="nav-tabs-navigation">
           <span class="nav-tabs-title">Videos</span>
             <div class="nav-tabs-wrapper">
                 <ul class="nav nav-tabs" data-tabs="tabs">
                     <li class="pull-right">
                         <a href="#messages" data-toggle="tab" aria-expanded="false">
                           <i class="material-icons">cloud_upload</i> Upload Video
                             <div class="ripple-container"></div>
                         </a>
                     </li>
                     <li class="pull-right">
                         <a href="#messages" data-toggle="tab" aria-expanded="false">
                           <i class="material-icons">screen_share</i> Recommend Video
                             <div class="ripple-container"></div>
                         </a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
       <div class="card-content">
         <div class="row">
           <iframe class="col-sm-3" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen height="250"></iframe>
           <iframe class="col-sm-3" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen height="250"></iframe>
           <iframe class="col-sm-3" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen height="250"></iframe>
           <iframe class="col-sm-3" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen height="250"></iframe>
         </div>
       </div>
   </div> -->
   {{>Videos}}
</div>
{{>ChangePassword}}
</template>
