<template id="StudentEvaluator" name="StudentEvaluator">
  <div class="content" >
      <div class="container-fluid">
      <!--<div class="row">-->
            <!--<div class="col-lg-6 col-md-12 col-sm-12">-->
                <!--<div class="card">-->
                    <!--<div class="card-header text-center">-->
                        <!--<h4 class="card-title">Basic Info</h4>-->
                    <!--</div>-->
                    <!--<div class="card-content">-->
                        <!--<div class="col-md-4 col-sm-2">-->
                            <!--<div class="fileinput fileinput-new text-center" data-provides="fileinput">-->
                                <!--<div class="fileinput-new thumbnail">-->
                                    <!--<img src="../images/photo-92-1.jpg" alt="Profile Image">-->
                                <!--</div>-->
                                <!--<div class="fileinput-preview fileinput-exists thumbnail"></div>-->
                                <!--<div>-->
                                    <!--<span class="btn btn-warning btn-sm  btn-file">-->
                                        <!--<span class="fileinput-new">Select image</span>-->
                                        <!--<span class="fileinput-exists">Change</span>-->
                                        <!--<input type="file" name="...">-->
                                    <!--</span>-->
                                    <!--<a href="#pablo" class="btn btn-warning  fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-lg-8 col-md-12 col-md-12">-->

                        <!--<div class="table-responsive">-->
                          <!--<table class="table">-->
                              <!--<thead class="text-info">-->
                                  <!--<tr>-->
                                      <!--<th>First Name</th>-->
                                      <!--<th>Nick Name</th>-->
                                      <!--<th>Last Name</th>-->
                                  <!--</tr>-->
                              <!--</thead>-->
                              <!--<tbody>-->
                                  <!--<tr>-->
                                      <!--<td>Role:</td>-->
                                      <!--<td>Instructor</td>-->
                                      <!--<td>Admin</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>Level(s)</td>-->
                                      <!--<td>(When Applicable)</td>-->
                                      <!--<td>Baileux</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>About</td>-->
                                      <!--<td>About </td>-->
                                      <!--<td></td>-->
                                  <!--</tr>-->
                              <!--</tbody>-->
                          <!--</table>-->
                        <!--</div>-->
                      <!--</div>-->
                        <!--<div class="col-md-12 col-sm-12 col-xs-12 text-center">-->
                        <!--&lt;!&ndash; <button class="btn btn-info  evaluate">Evaluate<div class="ripple-container"></div></button> &ndash;&gt;-->
                        <!--<a class="btn btn-info " href="/personal_info/1">Edit Basic Info<div class="ripple-container"></div></a>-->
                        <!--<button class="btn btn-info ">Bookmark<div class="ripple-container"></div></button>-->
                        <!--<button class="btn btn-info ">Contact<div class="ripple-container"></div></button>-->

                      <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6 col-md-12 col-sm-12">-->
                        <!--<div class="card">-->
                            <!--<div class="card-header text-center">-->
                                <!--<a href="">-->
                                    <!--<h4 class="card-title">Status</h4>-->
                                <!--</a>-->
                            <!--</div>-->
                          <!--<div class="card-content">-->
                              <!--<div class="fixed-table-container table-responsive">-->
                                  <!--<div class="fixed-table-body">-->
                                      <!--<table id="bootstrap-table" class="table table-hover table-responsive">-->
                                          <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th></th>-->
                                                <!--<th></th>-->
                                                <!--<th>-->
                                                  <!--{{#if IsAdmin }}-->
                                                  <!--<a href="#" class="pull-right permission text-success" style="font-size: small;">Set Permission-->
                                                      <!--<div class="ripple-container"></div>-->
                                                  <!--</a>-->
                                                  <!--{{/if}}-->
                                                <!--</th>-->
                                            <!--</tr>-->
                                              <!--<tr>-->
                                                  <!--<th>Status</th>-->
                                                  <!--<th>Active</th>-->
                                                  <!--<th>-->
                                                    <!--{{#if IsAdmin }}-->
                                                      <!--<a class="text-warning pull-right toggle_active" style="font-size: small">Deactive User-->
                                                          <!--<div class="ripple-container"></div>-->
                                                      <!--</a>-->
                                                    <!--{{/if}}-->
                                                  <!--</th>-->
                                              <!--</tr>-->
                                          <!--</thead>-->
                                          <!--<tbody>-->
                                              <!--<tr>-->
                                                  <!--<td>Role</td>-->
                                                  <!--<td></td>-->
                                                  <!--<td>{{#if IsAdmin }}-->
                                                      <!--<a class="text-warning pull-right role" style="font-size: small">Change Role-->
                                                          <!--<div class="ripple-container"></div>-->
                                                      <!--</a>-->
                                                      <!--{{/if}}-->
                                                  <!--</td>-->
                                              <!--</tr>-->
                                              <!--<tr>-->
                                                  <!--<td>Join</td>-->
                                                  <!--<td></td>-->
                                                  <!--<td></td>-->
                                              <!--</tr>-->
                                              <!--<tr>-->
                                                  <!--<td>Notes</td>-->
                                                  <!--<td></td>-->
                                                  <!--<td></td>-->
                                              <!--</tr>-->

                                          <!--</tbody>-->
                                      <!--</table>-->
                                  <!--</div>-->
                              <!--</div>-->
                          <!--</div>-->

                        <!--</div>-->
            <!--</div>-->
        <!--</div>-->
      </div>
  </div>
  <!-- {{>Evaluation}} -->
  {{>EvaluationBox}}
  <div class="card">
    <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <span class="nav-tabs-title">System Recommendation</span>
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">

                </ul>
            </div>
        </div>
    </div>
      <div class="card-content">

          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Message</th>
                          <th>Level</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Missing Level 1</td>
                          <td>Skill</td>
                      </tr>
                      <tr>
                          <td>Missing Level 2</td>
                          <td>Skill array</td>
                      </tr>
                      <tr>
                          <td>poor performance in</td>
                          <td>skill</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <span class="nav-tabs-title">Feedback</span>
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="pull-right">
                        <a href="#messages" data-toggle="tab" aria-expanded="false">
                             Evaluate
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
      <div class="card-content">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>Type</th>
                          <th class="text-right">Instructor</th>
                          <th class="text-right">Skill(s)</th>
                          <th class="text-right">Notes</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>05/10/2016</td>
                          <td><a href="/evaluation_details/1">Commendation</a></td>
                          <td class="text-right">JJ Kale</td>
                          <td class="text-right"></td>
                          <td class="text-right">Excellent work at fair</td>
                      </tr>
                      <tr>
                          <td>2/2/2016</td>
                          <td><a href="/evaluation_details/1">Recommendation</a></td>
                          <td class="text-right">JJ Kale</td>
                          <td class="text-right">Kick</td>
                          <td class="text-right">Excellent work at fair</td>
                      </tr>
                      <tr>
                          <td>2/8/2016</td>
                          <td><a href="/evaluation_details/1">Caution</a></td>
                          <td class="text-right">JJ Kale</td>
                          <td class="text-right">Side Kick</td>
                          <td class="text-right">Excellent work at fair</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>



  <div class="card">
    <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <span class="nav-tabs-title">Injuries</span>
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">

                </ul>
            </div>
        </div>
    </div>
      <div class="card-content">

          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>Type</th>
                          <th>By/To/With</th>
                          <th>Other Part</th>
                          <th>Notedby</th>
                          <th>Skill</th>
                          <th>Noted</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>03/01/2017</td>
                          <td><a href="/evaluation_details/1">Accidental Injury</a></td>
                          <td>With</td>
                          <td>JJ Kale</td>
                          <td>Matt</td>
                          <td></td>
                          <td>Bumped Heads</td>
                      </tr>
                      <tr>
                          <td>02/04/2017</td>
                          <td><a href="/evaluation_details/1">Negligence Injury</a></td>
                          <td>to</td>
                          <td>FL Wright</td>
                          <td>D Jonsan</td>
                          <td>Side Kick</td>
                          <td>Was kicking too hard with a new student</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <span class="nav-tabs-title">Evaluation</span>
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">

                </ul>
            </div>
        </div>
    </div>
      <div class="card-content">

          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Date</th>
                          <th>Type</th>
                          <th>Instructor</th>
                          <th>Score</th>
                          <th>Skill</th>
                          <th>Noted</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>03/01/2017</td>
                          <td><a href="/evaluation_details/1">Written Evaluation</a></td>
                          <td>D Jhonsan</td>
                          <td>80%</td>
                          <td>roundhouse</td>
                          <td>Excellent for a beginner</td>
                      </tr>
                      <tr>
                        <td>01/03/2017</td>
                        <td><a href="/evaluation_details/1">Technique Evaluation</a></td>
                        <td>Matt hume</td>
                        <td>4/7</td>
                        <td>Buddhist Philosophy</td>
                        <td></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  {{>Permissions}}
  {{>ChangePassword}}
</template>
