<template id="StudentProgressBox" name="StudentProgressBox">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-text pull-left" data-background-color="blue">
              <h4 class="card-title"><b>Student Progress</b></h4>
          </div>
          <div class="card-content">
           <div class="col-md-12">
           </div>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">directions_run</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <h4 class="card-title text-center">Capoeira Yellow</h4>
                   </div>
                   <div class="card-footer">
                       <div class="stats">
                           <i class="material-icons">date_range</i> 12 Hours
                       </div>
                   </div>
               </div>
            </a>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">fitness_center</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <!-- <p class="category">Capoeira</p> -->
                       <h4 class="card-title text-center">Striking Muai thai Blue</h4>
                   </div>
                   <div class="card-footer">
                       <div class="stats">
                          20%
                       </div>
                   </div>
               </div>
            </a>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">transfer_within_a_station</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <!-- <p class="category">Capoeira</p> -->
                       <h4 class="card-title text-center">Grappling Judo Yellow</h4>
                   </div>
                   <div class="card-footer">
                       <div class="stats">
                          10%
                       </div>
                   </div>
               </div>
            </a>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">mood</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <h4 class="card-title text-center">Ground BJJ Yellow</h4>
                   </div>
                   <div class="card-footer">
                       <div class="stats">
                         <i class="material-icons">date_range</i> 12 Hours
                       </div>
                   </div>
               </div>
            </a>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">mood</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <h4 class="card-title text-center">Sparring</h4>
                   </div>
                   <div class="card-footer">
                       <div class="stats">
                         <i class="material-icons">date_range</i> 12 Hours
                       </div>
                   </div>
               </div>
            </a>
            <a class="col-md-2" href="/StudentProgressView">
              <div class="card card-stats">
                   <div class="card-header" data-background-color="blue">
                       <i class="material-icons">airline_seat_recline_normal</i>
                   </div>
                   <div class="card-content cust-card-content">
                       <h4 class="card-title text-center">Weapons White</h4>
                   </div>
                   <div class="card-footer" style="margin:5px">
                       <div class="stats">
                           <i class="material-icons">date_range</i> 7 Hours
                       </div>
                       <div class="stats pull-right">
                           20%
                       </div>
                   </div>
               </div>
            </a>
          </div>
      </div>
  </div>
</template>
