<template name="ContactUs">
  <div class="content" >
      <div class="container-fluid">
        <div class="row">
          <div class="row card">
          <div class="alert alert-info">
            <span style="font-size:24px;">Send Us Feedback</span>
          </div>
				<div class="col-md-7">
					<div class="row">
						<form method="post" name="contact" novalidate="novalidate">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="name" class="form-control" name="text" placeholder="Name">
								</div>
								<div class="form-group">
									<input type="email" id="email" class="form-control" name="email" placeholder="E-mail">
								</div>
							</div>
              <div class="col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" class="end_option" value="Feature Request">Feature Request
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" class="end_option" value="Something is broken">Something is broken
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" class="end_option" value="I Love This!">I Love This!
                    </label>
                </div>
							</div>
							<div class="col-md-12 resbtn">
								<div class="form-group">
									<textarea class="form-control" id="message" name="message" rows="4" placeholder="Your message"></textarea>
								</div>
								<button type="button" class="btn" id="sendfeedback">
								Send Message
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-5 text-center">
					<ul class="address-info">
						  <img src="/images/new-logo.png" class="" alt="logo" width="48" style="width: auto;height: 250px;">
							<div class="sl-bar">
								<a href="#" class=""><i class="fa fa-facebook social_icon"></i></a>
								<a href="#" class="fa fa-twitter social_icon  "></a>
								<a href="#" class="fa fa-google-plus social_icon "></a>
								<a href="#" class="fa fa-dribbble social_icon  "></a>
								<a href="#" class="fa fa-instagram social_icon "></a>
							</div>
					</ul>
				</div>
			</div>
        </div>
      </div>
  </div>
  <script>
  $(document).ready(function(){
    $(".social_icon").hover(function (e) {
        $(this).addClass('animated tada');
    });

    $(".social_icon").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function () {
        $(this).removeClass('animated tada');
    });
  });
  </script>
</template>
