<template name="howitworks">

  <div class="content" >
      <div class="container-fluid">
<div class="howitworks-head how-it-works-image" style="background: url(/images/how-it/head-background.jpg);">
	<div class="how-it-works-text col-md-12">
			<h1>How SkillShape works <span>for you!</span></h1>
		</div>
</div>
        <!--div class="row">
          <div class="col-md-12">
              <div class="card fontnormal">
                  <div class="card-header text-center ">
                      <img src="/images/new-logo.png" alt="logo" width="48" style="width: auto;height: 100px;">
                      <h2 class="card-title" style="color:orange;">How it works</h2>
                  </div>
                  <div class="card-content">
                      <p class="typo1">Our goal is to make it easier for you to join the communities and gain the skills you want by letting you see all the local opportunities in one place!</p>
                      <p class="typo1">Feel free to look around at all then class in your area and you can even suggest a class if it is not listed.</p>
                      <p class="typo1">If you create free membership account , you can add classes to your own SkillShape calender which syncs with many other calendars.</p>
                      <p class="typo1">If your school or gym participates,you may wish to subscribe for a full membership which will allow you to participate in their progress tracking educational software which help you and your teachers or trainers decide what you should focus on next progress.</p>
                      <p class="typo1">If you are a teacher or you own a school, you can open an instructor or administrator account and administer your school, keep track of safety,progress and track payments.</p>

                  </div>
              </div>
          </div>
        </div-->
<section class="how-it-works-list">
			<div class="">
				<div class="row"> 
					<div class="col-sm-12">
						
						<div class="accordion-wrapper">
							<div class="ac-pane active">
								<a href="#" class="ac-title" data-accordion="true">
									<span>1. Check to see if your school is already in Skillshape</span>
									<i class="fa"></i>
								</a>
								<div class="ac-content">
									<div class="sign-up-video">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TZTevhiE5BI?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>

									<p>Watch Video For Sign Up</p>

									<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1-0.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">

									<h3>Step-1 <span>Search for school</span></h3>
									<p>Check to see if your school is already in SkillShape and ready to claim.</p>
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-2-1.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-2 <span>Search your school</span></h3>
									<p>Use search criteria to narrow your search.</p>
								</div>
								
								</div>

								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1-4.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">
										<div class="step-container-arrow-flip hidden-xs hidden-sm">
									<figure><img src="/images/how-it/arrow-flip.png"></figure>
										</div>

									<h3>Step-3 <span>View your School</span></h3>
									<p>If you see your school, click “VIEW” to see details and claim your school.</p>
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1-5.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-4 <span>Claim your school</span></h3>
									<p>If this is your school, click the “Claim” button. </p>
								</div>
								
								</div>
								



								</div>
								


							</div>
							<div class="ac-pane">
								<a href="#" class="ac-title" data-accordion="true">
									<span>2.  Register as a New Member</span>
									<i class="fa"></i>
								</a>
								<div class="ac-content">
									<div class="sign-up-video">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TZTevhiE5BI?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>

									<p>Watch Video For Claim or Add school</p>

									<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1-1.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">

									<h3>Step-1 <span>Start a new School</span></h3>
									<p>If none of the schools are yours, click the “Start a New School” button at the bottom.</p>
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1-2.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-2 <span>Login or register </span></h3>
									<p>You will be prompted to Log in or Register as a New Member.</p>
								</div>
								
								</div>

									
								</div>

							</div>
							<div class="ac-pane">
								<a href="#" class="ac-title" data-accordion="true">
									<span>3. Entering and Updating Your Class Information</span>
									<i class="fa"></i>
								</a>
								<div class="ac-content">
									<div class="sign-up-video">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TZTevhiE5BI?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>

									<p>Watch Video For Enter class information</p>

									<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-3-1.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">

									<h3>Step-1 <span>School Overview:</span></h3>
									<p>Ask for</p>
									<ul>
										<li>School Name,</li>
										<li>School Main Image,</li>
										<li>Website,</li>
										<li>Phone Number,</li>
										<li>Contact Person Name,</li>
										<li>Contact phone Number, and</li>
										<li>"About School" Text.</li>
									</ul>
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-3-2.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-2 <span>Location(s) Details: Locations and Rooms</span></h3>
									<p>+ADD LOCATION </p>
									<ul>
										<li>Location Name,</li>
										<li>Street Address,</li>
										<li>City,</li>
										<li>Zip Code.</li>									
									</ul>
									<p>+ADD Room </p>
									<ul>
										<li>Name,</li>										
										<li>Capacity.</li>									
									</ul>
								</div>
								
								</div>

								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-3-3.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">
									<div class="step-container-arrow-flip hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow-flip.png"></figure>
						</div>

									

									<h3>Step-3 <span>Event Type Details: </span></h3>
									<p>+ADD EVENT TYPE </p>
									<ul>
										<li>Event Type Name,</li>
										<li>Restrictions on Attendance,</li>
										<li>Skill Taught,</li>
										<li>Description.</li>
									</ul>
									<p>+ADD Class </p>
									<ul>
										<li>Name,</li>
										<li>Time, Date, Recurrance.</li>
									</ul>
								
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-3-4.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-4 <span>Prices:</span></h3>
									<p>+ADD MONTHLY PACKAGES</p>
									<ul>
										<li>Package Name,</li>
										<li>Payment Type,</li>
										<li>Class Types Covered,</li>
										<li>Number of Months,</li>
										<li>Cost.</li>									
									</ul>
									<p>+ADD Room </p>
									<ul>
										<li>Name,</li>										
										<li>Cost,</li>
										<li>Class Types Covered,</li>
										<li>Number Of Classes,</li>
										<li>Expiration.</li>									
									</ul>
								</div>
								
								</div>
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-3-5.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">
									<div class="step-container-arrow-flip hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow-flip.png"></figure>
						</div>

									<h3>Step-5 <span>Media:</span></h3>
									<p>Gallery</p>
									<ul>
										<li>Upload Media,</li>
										<li>Link To Media,</li>
										<li>Take Media.</li>
									</ul>
								</div>
								
								</div>


								</div>

							</div>
							<div class="ac-pane">
								<a href="#" class="ac-title" data-accordion="true">
									<span>4.   Editing Your School Information</span>
									<i class="fa"></i>
								</a>
								<div class="ac-content">
									<div class="sign-up-video">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TZTevhiE5BI?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>

									<p>Watch Video For Editing School Information</p>

									<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-4-1.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">

									<h3>Step-1 <span>Select Calendar</span></h3>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
								</div>
								
								</div>
						
								<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12  pane-image">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-4-2.png"></figure>
								</div>

									<div class="col-sm-12 col-md-6 col-xs-12 pane-text">
									<div class="step-container-arrow hidden-xs hidden-sm">
							<figure><img src="/images/how-it/arrow.png"></figure>
						</div>

									<h3>Step-2 <span>Edit School Info</span></h3>
									<p>All you have to do is log into your SkillShape account and edit thetimes or prices with our intuitive interface, and they will automatically be updated on your website!</p>
								</div>
								
								</div>
								</div>

							</div>

							<div class="ac-pane">
								<a href="#" class="ac-title" data-accordion="true">
									<span>5.  Bringing in New Students</span>
									<i class="fa"></i>
								</a>
								<div class="ac-content">
									<div class="sign-up-video">
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TZTevhiE5BI?rel=0" frameborder="0" allowfullscreen></iframe>
									</div>

									<p>Watch Video For Bringing in New Students</p>

									<div class="step-container clearfix">
								<div class="col-sm-12 col-md-6 col-xs-12 pane-image pull-right">
									<figure class="pan-img-circle"><img src="/images/how-it/screen-shot-1.png"></figure>
								</div>
								
									<div class="col-sm-12 col-md-6 col-xs-12 pane-text pull-left">

									<h3><span>Bringing in New Students</span></h3>
									<p>When students click on your calendar, they are given an option to Join your Class. If they do, you will be sent an email with their contact information and the class they wish to join!</p>
								</div>
								
								</div>
						
							
								</div>

							</div>

						</div>
					</div>

					
				</div>
			</div>
		</section>

      </div>
  </div>

</template>
