<template id="StudentProgressView" name="StudentProgressView">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <h3 class="card-title text-center">
                                <div class=""> <h6 class="col-md-8">Student Basic Info</h6>
                                    <a href="/profile" class="btn btn-warning btn-fill btn-wd pull-right">Back to Student Main View</a>
                                </div>
                            </h3>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-text" data-background-color="blue">
                                        <h4 class="card-title">Category Grades</h4>
                                    </div>
                                    <div class="card-content">
                                        <table class="table  table-responsive table-hover">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Belt</th>
                                                    <th>Attained</th>
                                                    <th>Needed</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Yellow</td>
                                                    <td>11/15/18</td>
                                                    <td>Au Level 2</td>
                                                </tr>
                                                <tr>
                                                    <td>Orange</td>
                                                    <td>8/11/14</td>
                                                    <td>Compasso Level 3 Skiva Level 3</td>
                                                </tr>
                                                <tr>
                                                    <td>Red</td>
                                                    <td>54%</td>
                                                    <td>One Song Roda Level 4 Vingativa Level 2</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-text" data-background-color="blue">
                                        <h4 class="card-title">Category Topics  and Group Topics</h4>
                                    </div>
                                    <div class="card-content">
                                        <table class="table  table-responsive table-hover">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Topic</th>
                                                    <th>Hrs</th>
                                                    <th>Evaluations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Skiva</td>
                                                    <td>1.5hrs</td>
                                                    <td>Level 2</td>
                                                </tr>
                                                <tr>
                                                    <td>Mea Lua</td>
                                                    <td>2.5hrs</td>
                                                    <td>Level 3</td>
                                                </tr>
                                                <tr>
                                                    <td>Frente</td>
                                                    <td>2.2hrs</td>
                                                    <td>Level 1</td>
                                                </tr>
                                                <tr>
                                                    <td>Armada</td>
                                                    <td>1.9hrs</td>
                                                    <td>Level 2</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-text" data-background-color="blue">
                                        <h4 class="card-title">Category Evaluations</h4>
                                    </div>
                                    <div class="card-content">
                                        <table class="table table-responsive table-hover" style="height:250px;display: block;">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Stuents(s)</th>
                                                    <th>Instructor</th>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Topics</th>
                                                    <th>Score</th>
                                                    <th>Notes</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody style="overflow-y:auto;">
                                                <tr>
                                                    <td>Roda</td>
                                                    <td>Joe Schmo</td>
                                                    <td>Bruce Lee</td>
                                                    <td>4-5-15</td>
                                                    <td>Interaction</td>
                                                    <td>Capoeira</td>
                                                    <td>5/5</td>
                                                    <td>Green Belt Test</td>
                                                    <td><a href="" class="text-warning"><u>Details</u></a></td>
                                                    <td ><a href="" class="text-warning"><u>Duplicate</u></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Simple Addition</td>
                                                    <td> 6 Students</td>
                                                    <td>J J Sara</td>
                                                    <td>6-7-15</td>
                                                    <td>Written</td>
                                                    <td>Adding Single Digits</td>
                                                    <td>7/10 avg</td>
                                                    <td>Add Single Digits</td>
                                                    <td><a class="text-warning" href="#"><u>Details</u></a></td>
                                                    <td><a class="text-warning" href=""><u>Duplicate</u></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Side Kick</td>
                                                    <td>Coco Chanel</td>
                                                    <td>HN Deeks</td>
                                                    <td>4-5-13</td>
                                                    <td>Topic</td>
                                                    <td>Side Kick</td>
                                                    <td>5/5</td>
                                                    <td>Easy version 2nd grade spelling</td>
                                                    <td><a class="text-warning" href="#"><u>Details</u></a></td>
                                                    <td><a class="text-warning" href=""><u>Duplicate</u></a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
