body {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 13px;
  font-weight: 100;
}

/*svg {
  height: 16px !important;
}*/
.price-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-azure {
  background-color: "#FFC107";
}

.event-green {
  background-color: "#9E9E9E";
}

.public-DraftEditor-content {
  min-height: 150px;
}

.custom-overlay {
  pointer-events: all !important;
  height: auto !important;
}

.tile-icon-bar {
  display: none !important;
}

.tile-viewport {
  background: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  max-width: 400px;
  width: auto !important;
}
.tile-viewport img {
  height: auto !important;
  max-width: 400px;
}

#info-box-wrap {
  background-color: #fff;
}

#info-box-text-wrap {
  overflow: auto;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 25px 20px;
  height: 100px;
}

.info-box-classtype-name {
  text-align: center;
}

/*Used for remove "Powered by google" on location input drop-down */
.pac-container:after {
  background-image: none !important;
  height: 0px;
}

li {
  display: list-item;
  list-style-position: inside;
}