body {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 13px;
  font-weight: 100;
}

/*svg {
  height: 16px !important;
}*/
.price-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-azure {
  background-color: "#FFC107";
}

.event-green {
  background-color: "#9E9E9E";
}

.public-DraftEditor-content {
  min-height: 150px;
}

.custom-overlay {
  pointer-events: all !important;
  height: auto !important;
}

.tile-icon-bar {
  display: none !important;
}

.tile-viewport {
  background: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  max-width: 400px;
  width: auto !important;
}
.tile-viewport img {
  height: auto !important;
  max-width: 400px;
}

#info-box-wrap {
  background-color: #fff;
}

#info-box-text-wrap {
  overflow: auto;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 25px 20px;
  height: 100px;
}

.info-box-classtype-name {
  text-align: center;
}

/*Used for remove "Powered by google" on location input drop-down */
.pac-container:after {
  background-image: none !important;
  height: 0px;
}

li {
  display: list-item;
  list-style-position: inside;
}

.bg-stretch {
  background-size: cover;
  background-position: 50% 50%;
  background-color: #0288d1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: opacity(0.2);
}

.table-view {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  width: 90% !important;
  margin: auto;
}

.table-header th {
  color: rgba(0, 0, 0, 0.87) !important;
  height: 48px;
  font-family: Zilla Slab , serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #fff;
}

thead {
  border-bottom: 2px solid rgb(224, 224, 224);
}

.table-body tr:nth-child(odd) {
  background-color: #fbfbfb;
}

.table-body tr:nth-child(even) {
  background-color: #fff;
}

.block {
  display: block !important;
}

/*** Styles added to fix the issue with zoom in on iphone ***/
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.picker {
  width: 100%;
}

/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

