body {
  margin: 0;
  font-family: 'Roboto',serif;
  font-size: 13px;
  font-weight: 100;
}

svg {
	height: 16px !important;
}
.price-card-container {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-azure {
	background-color: "#FFC107"
}

.event-green {
	background-color: "#9E9E9E"
}