<template name="timeline">

  <div class="text-center">
      <button type="button" class="btn btn-success startRefresh" title="Refresh your score to get latest changes">Refresh Score &nbsp;<span class="fa fa-refresh"></span></button>
    </div>

    <ul class="timeline">


      {{ #each timelist }}
        <li class="{{#if even @index}}timeline-inverted{{/if}}">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">{{website_name}}</h5>
              <h5> <span class="small">Scioma Score:&nbsp;</span> <span class="badge">{{top_score}}</span></h5>
            </div>
            <div class="timeline-body">
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ created_at}}</small></p>

            </div>
          </div>
        </li>
      {{ /each }}
    </ul>



</template>
