<template id="MemberDetailsStudent" name="MemberDetailsStudent">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title"><b>Basic Info</b></h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <div class="col-lg-1 col-md-1 pull-left">
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="../images/photo-92-1.jpg" alt="Profile Image">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                                <span class="btn btn-warning btn-sm btn-file">
                                                    <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="...">
                                                </span>
                                        <a href="#pablo" class="btn btn-warning fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive col-lg-8 col-md-9 pull-right">
                                <table class="table">
                                    <thead class="text-primary">
                                    <tr><th>First Name</th>
                                        <th>Nick Name</th>
                                        <th>Last Name</th>
                                    </tr></thead>
                                    <tbody>
                                    <tr>
                                        <td class="th">Role:</td>
                                        <td>Instructor</td>
                                        <td>Admin</td>
                                    </tr>
                                    <tr>
                                        <td class="th">Level(s)</td>
                                        <td>(When Applicable)</td>
                                        <td>Baileux</td>
                                    </tr>
                                    <tr>
                                        <td class="th">About</td>
                                        <td>About </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 ">
                                <button class="btn pull-right btn-info">Edit Basic Info
                                    <div class="ripple-container"></div>
                                </button>
                                <button class="btn pull-right btn-info">Bookmark
                                    <div class="ripple-container"></div>
                                </button>
                                <button class="btn pull-right btn-info">Contact
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title"><b>Status</b></h4>
                            </div>
                            {{#if IsAdmin }}
                            <button class="btn btn-success  pull-right permission">Set Permission
                                <div class="ripple-container"></div>
                            </button>
                            {{/if}}
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-info">
                                        <tr><th>Status</th>
                                            <th>Activity</th>
                                            <th>
                                                {{#if IsAdmin }}
                                                    <button class="btn btn-warning pull-right toggle_active">Deactive User
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                {{/if}}
                                            </th>
                                        </tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>Role</td>
                                            <td></td>
                                            <td><!--{{#if IsAdmin }}
                                                <button class="btn btn-warning pull-right role">Change Role
                                                    <div class="ripple-container"></div>
                                                </button>
                                            {{/if}}-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Join</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Notes</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  end card  -->
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header pull-left" data-background-color="blue">
                            <h4 class="card-title"><b>Class List</b></h4>
                        </div>
                        <div class="card-content">
                            <div class="fixed-table-body">
                                <table id="bootstrap-table" class="table table-hover">
                                    <thead class="text-info">
                                        <tr>
                                            <th>Classes Teaching</th>
                                            <th>Boxing 101</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Classes Attending</td>
                                            <td>BJJ 101 <u><a href="/class_detail/1" >Check In</a></u></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title"><b>Personal Info</b></h4>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title pull-right">
                                    <a href ="/personal_info/1" class="btn btn-warning pull-right">Edit<div class="ripple-container"></div></a>
                                    {{#if IsStudent }}
                                        <button class="btn btn-info pull-right change_password">Change Password<div class="ripple-container"></div></button>
                                    {{/if}}                                </h4>
                                <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                    <table class="table">
                                        <thead class="text-info">
                                        <tr>
                                            <th>Phone</th>
                                            <th>e-Mail</th>
                                            <th>Adress</th>
                                            <th>Subscriptions</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Dakota Rice</td>
                                            <td>Niger</td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>StudentProgressBox}}
                {{>SystemRecommendations}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-text pull-left" data-background-color="blue">
                                <h4 class="card-title"><b>Feedback</b></h4>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                    <table class="table">
                                        <thead class="text-info">
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Instrutor</th>
                                            <th>Skill</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1-1-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-5-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-6-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-8-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title"><b>Injuries</b></h4>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <button class="btn btn-warning pull-right">Report Injury<div class="ripple-container"></div></button>
                                </h4>
                                <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                    <table class="table">
                                        <thead class="text-info">
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>By/To/With</th>
                                            <th>Other Party</th>
                                            <th>Noted By</th>
                                            <th>Skills</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1-1-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>Niger</td>
                                            <td>Oud</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-5-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>Niger</td>
                                            <td>Oud</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-5-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>Niger</td>
                                            <td>Oud</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-8-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-header card-header-text" data-background-color="blue">
                                    <h4 class="card-title"><b>Evaluations</b></h4>
                                </div>
                                <h4 class="card-title">
                                    {{#if or IsInstructor IsAdmin }}
                                        <button class="btn btn-warning pull-right">Perform Evaluation<div class="ripple-container"></div></button>
                                    {{/if}}
                                </h4>
                                <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                    <table class="table">
                                        <thead class="text-info">
                                        <tr>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Instrutor</th>
                                            <th>Score</th>
                                            <th>Skill</th>
                                            <th>Notes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1-1-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>490</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-5-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>560</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-6-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>650</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        <tr>
                                            <td>1-8-2015</td>
                                            <td><a href="/evaluation_details/1">Niger</a></td>
                                            <td>Oud</td>
                                            <td>560</td>
                                            <td>Oud-Turnhout</td>
                                            <td>$36,738</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>Videos}}
            </div>
        </div>
    </div>
    {{>Permissions}}
    {{>ChangePassword}}
</template>
