@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(40, 40);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(100, 100);
  }
}

@keyframes ripple-lg {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}
