@font-face {
    font-family: ‘rw-widgets’;
    src: url(‘fonts/rw-widgets.eot’);
    src: url(‘fonts/rw-widgets.woff’);
    src: url(‘fonts/rw-widgets.woff2’);
    src: url(‘fonts/rw-widgets.ttf’) format(‘truetype’),
}
