/*
  Override the styles
*/

$calendar-btn-active-color: map-get($colors , 'primary');
$calendar-btn-default-color: #BBB8B9;

.fc .fc-toolbar button {
  text-transform: capitalize;
  background: $calendar-btn-default-color;
  font-family: map-get($fonts,'special');
  height: map-get($sizes,'rhythm-div') * 4px;
}

.fc .fc-toolbar {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: map-get($sizes,'rhythm-div') * 10px;
}

.fc .fc-toolbar h2 {
  font-family: map-get($fonts,'special');
  font-weight: 300;
  font-style: italic;
  margin: 0;
  line-height: 1;
  font-size: map-get($sizes,'base-font-size') * 1.5px;
}

.fc .fc-toolbar .fc-center {
  position: absolute;
  margin-top: map-get($sizes,'rhythm-div') * 8px;
}

.fc .fc-toolbar .fc-right {
  float: none;
}

.fc .fc-toolbar .fc-left {
  float: none;
}

.fc .fc-left .fc-button-group {
  width: 100%;
  position: absolute;
  left: 0;
  top: map-get($sizes,'rhythm-div') * 8px;
}

.fc .fc-left button.fc-next-button {
  right: 0;
  position: absolute;
  left: auto;
}

.fc button:hover .fc-prev-button,
.fc button:hover .fc-next-button
{
  background-color: white;
  color: $calendar-btn-default-color;
}

.fc .fc-left  button .fc-icon {
  font-size: map-get($sizes,'base-font-size') * 2px;
  line-height: map-get($sizes,'base-font-size') * 2px;
  font-family: map-get($fonts,'special');
  height: auto;
}

.fc .fc-icon-right-single-arrow::after , .fc .fc-icon-left-single-arrow::after {
  font-weight: 100;
  font-family: map-get($fonts,'special');
}

.fc-today-button {
  margin-right: 2px;
}

.fc .fc-toolbar button, .fc .fc-toolbar button.btn-primary {
  box-shadow: none;
  border-radius: 2px;
  cursor: pointer;
}

.fc .fc-toolbar .fc-state-active {
  cursor: pointer;
  background-color: $calendar-btn-active-color; /* Otherwise the color of bg green appears */
  border-color: $calendar-btn-active-color;
}

.fc .fc-toolbar button:active,
.fc .fc-toolbar button.btn-primary:active,
.fc .fc-toolbar button:focus,
.fc .fc-toolbar button:hover,
.fc .fc-toolbar button.btn-primary:focus,
.fc .fc-toolbar button.btn-primary:hover {
  box-shadow: none;
  background-color: darken($calendar-btn-active-color,5%);
}

.fc .fc-toolbar button[disabled] {
  background-color: #999999;
  border-color: #999999
}

.fc .fc-toolbar button.fc-state-active:active,
.fc .fc-toolbar button.fc-state-active:focus,
.fc .fc-toolbar button.fc-state-active:hover
{
  background-color: $calendar-btn-active-color;
  border-color: $calendar-btn-active-color;
}

.fc .fc-toolbar button.fc-state-active:hover, .fc .fc-toolbar button[disabled]:focus, .fc .fc-toolbar button[disabled]:hover {
  background-color: lighten($calendar-btn-active-color,10%);
}

.fc .fc-left .fc-button-group button,
.fc .fc-left .fc-button-group button:active,
.fc .fc-left .fc-button-group button:active:hover,
 {
  background-color: white;
  color: $calendar-btn-default-color;
}

.fc-body thead {
  border-bottom: 0;
}

.fc .fc-event {
  font-size: 14px;
  font-family: map-get($fonts,'special');
  line-height: 1.2;
}

// .fc-basic-view .fc-body .fc-row {
//   max-height: 200px;
//   overflow-y: auto;
// }


@media screen and (max-width: 500px) {
  .fc-left .fc-button-group {
    top: map-get($sizes,'rhythm-div') * 9px;
  }

  .fc-toolbar {
    margin-bottom: map-get($sizes,'rhythm-div') * 12px;
  }

  .fc-toolbar .fc-center {
    margin-top: map-get($sizes,'rhythm-div') * 8px;
  }
}
