.rw-widget-input, .rw-widget-picker, .rw-widget-container {
  border: none;
  border-bottom: 1px solid $default-border-color;
  border-radius: 0;
  box-shadow: none;
  font-size: $base-font-size * 1px;

  &:hover {
    box-shadow: none;
    border-bottom: 2px solid $dark-border-color;
  }
}

.rw-widget-picker {
  display: block;
}

.rw-state-focus > .rw-widget-container,.rw-state-focus > .rw-widget-container:hover {
  box-shadow: none;
  border-color: map-get($colors,'primary');
}

.rw-list-option.rw-state-focus, .rw-list-option.rw-state-focus:hover {
  border: 1px solid map-get($colors,'primary');
}

.rw-multiselect .rw-input-reset, .rw-multiselect .rw-input, .rw-multiselect .rw-filter-input {
  color: $input-font-color;
  font-weight: 100;
  padding: ($base-font-size/2) 0 0 0;
}
