$br-color: map-get($colors, 'input-default');
$br-color-hover: map-get($colors, 'input-hover');
$pr-color: map-get($colors, 'primary');

.Select {
    &-input > input {
        font-size: map-get($sizes, "base-font-size") * 1px;
    }
}

.ss-multi-select, .ss-select {
    .is-open {
        .Select {
            &-control {
                border-bottom: 2px solid $pr-color;    
                &:hover {
                    border-bottom: 2px solid $pr-color;
                }
            }
        }
    }
    .Select{
        &-control {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $br-color;
            
            &:hover {
                border-bottom: 2px solid $br-color-hover;
            }
        }
        &-value {
            background-color: map-get($colors, 'secondary')
        }
    }
    .Select.is-focused:not(.is-open) > .Select-control {
        border-color: $br-color;
        box-shadow: none;
    }
}

.ss-select {
    .Select {
        &-placeholder {
            padding-left: 0;
            color: map-get($colors, 'my-black');
            font-size: map-get($sizes, 'base-font-size') * 1px;
            & > b {
                font-weight: 400;
                color: map-get($colors, 'input-default');
            }
        }
        &-control, &-value {
            background-color: transparent
        }
    }
    .Select.is-pseudo-focused , 
    .Select.is-open > .Select-control ,
    .Select.is-focused:not(.is-open) > .Select-control {
        background: transparent;
    }
}