.skillshape-button {
  font-size: $base-font-size * 1px;
  font-family: map-get($fonts,special);
  // margin-right: map-get($sizes, rhythm-div) * 1px;
  padding: map-get($sizes,rhythm-div) * 1px map-get($sizes,rhythm-div) * 2px;
  min-width: map-get($sizes,rhythm-div) * 11px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: 0px;
  border-radius: 2px;
  position: relative;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms , box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 300;
  position: relative;
  text-transform: none;
  min-height: 32px;
  line-height: 1;
  overflow: hidden;


  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  &:focus:not(:active)::after {
    animation: ripple-lg 0.8s linear;
  }

  @include respond-to('mobile') {
    width: 100%;
    margin-right: 0;

    &:focus:not(:active)::after {
      animation: ripple 0.8s linear;
    }
  }
}

.skillshape-button--icon {
  display: inline-block;
  font-size: inherit;
  margin-right: 5px;
  font-family: map-get($fonts,'icon-font');
  user-select: none;
  font-weight: normal;
  font-style: normal;
  color: inherit;
}

.primary-button {
  @extend .skillshape-button;
  @include get-color('primary');
}

.secondary-button {
  @extend .skillshape-button;
  @include get-color('secondary','dark-text');
}

.caution-button {
  @extend .skillshape-button;
  @include get-color('caution','dark-text');
}

.action-button {
  @extend .skillshape-button;
  @include get-color('action');
}

.information-button {
  @extend .skillshape-button;
  @include get-color('information');
}

.cancel-button {
  @extend .skillshape-button;
  @include get-color('cancel', $hover-color: 'light', $ripple-color: 'light');
}

.danger-button {
  @extend .skillshape-button;
  @include get-color('danger');
}

.black-button {
  @extend .skillshape-button;
  @include get-color('my-black', $hover-color: 'light', $ripple-color: 'light');
}
