$primary-color: #4caf50;
$seconday-dark-color: #989797;
$focal-color: #f5f5f5;
$input-font-color: rgba(0, 0, 0, 0.42);

$default-border-color: $input-font-color;
$base-font-size: 16px;

$input-height: 2.429em;
$input-border-width: 1px;
$multiselect-gutter-pt: 0.115;
$multiselect-tag-height-pt: 1 - ($multiselect-gutter-pt * 2);
$multiselect-tag-gutter-fallback: $input-height * $multiselect-gutter-pt;
$multiselect-tag-gutter: calc(#{$multiselect-tag-gutter-fallback} - #{$input-border-width});
