<template id="ProgramManager" name="ProgramManager">
  <div class="content" >
      <div class="container-fluid">
          <div class="card">
            <div class="card-header" data-background-color="blue">
                Program Builder
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="col-sm-12">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Program Name</label>
                    <input type="text" class="form-control">
                <span class="material-input"></span></div>
              </div>
              <div class="col-sm-12">
                <h4 class="col-sm-4">Level default</h4>
                  <div class="col-sm-4">
                <div class="form-group label-floating">
                 <label class="control-label">min</label>
                 <input type="number" class="form-control">
                 <span class="material-input"></span></div></div>
                 <div class="col-sm-4">
                 <div class="form-group label-floating">
                  <label class="control-label">max</label>
                  <input type="number" class="form-control">
                  <span class="material-input"></span></div></div>
              </div>
              <div class="clearfix"></div>
              <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios"> Min-Max basd
                </label>
              </div>
              <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios"> Grade Based
                </label>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                 <label class="control-label">Program Description</label>
                 <textarea class="form-control" rows="7" id="comment"></textarea>
                 <span class="material-input"></span></div>

              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" data-background-color="blue">
                Required competencies
              </div>
              <div class="card-content">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Level</th>
                                  <th>Title</th>
                                  <th class="text-right">Time Needed</th>
                                  <th class="text-right">Skill(s)</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1st</td>
                                  <td>White</td>
                                  <td class="text-right">200 hours</td>
                                  <td class="text-right"><a href="#" class="class-requirement">Requirement</a></td>
                              </tr>
                              <tr>
                                  <td>2st</td>
                                  <td>Yellow</td>
                                  <td class="text-right">400 hours</td>
                                  <td class="text-right"><a href="#" class="class-requirement">Requirement</a></td>
                              </tr>
                            </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
 </div>

 <div class="modal fade" id="class-requirement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog col-sm">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                     <i class="material-icons">clear</i>
                 </button>
             </div>
             <div class="modal-body">
               <div class="col-md-12">
                 <div class="card">
                   <div class="card-header" data-background-color="blue">
                     Skill Required for : Yellow Belt
                   </div>
                     <div class="card-content">
                          <div class="table-responsive">
                           <table class="table table-striped">
                                 <thead>
                                     <tr>
                                         <th>Skill</th>
                                         <th>Score Type</th>
                                         <th>Minimum</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td>Skill A</td>
                                         <td>Level</td>
                                         <td>Yellow</td>
                                     </tr>
                                     <tr>
                                         <td>Skill B</td>
                                         <td>Min-Max</td>
                                         <td>60%</td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>
</template>
