<template id="Permissions" name="Permissions">
  <div class="modal fade" id="PermissionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h4 class="modal-title">Permissions</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Start System
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Open Gate
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Close Gate
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Register New User
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Shutdown System
                </label>
            </div>
          </div>
          <div class="modal-footer text-center">
              <button type="button" class="btn btn-info" data-dismiss="modal">Apply</button>
          </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h4 class="modal-title">Role</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Instructor
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Superadmin
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Staff
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Student
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="optionsCheckboxes"> Evaluator
                </label>
            </div>
          </div>
          <div class="modal-footer text-center">
              <button type="button" class="btn btn-info" data-dismiss="modal">Apply</button>
          </div>
      </div>
    </div>
  </div>
</template>
