<template id="SystemRecommendations" name="SystemRecommendations">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-text pull-left" data-background-color="orange">
                      <h4 class="card-title"><b>System Recommendations</b></h4>
                  </div>
                  <div class="card-content col-sm-12">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Message</th>
                                      <th>Level</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Missing Level 1</td>
                                      <td>Skill</td>
                                  </tr>
                                  <tr>
                                      <td>Missing Level 2</td>
                                      <td>Skill array</td>
                                  </tr>
                                  <tr>
                                      <td>poor performance in</td>
                                      <td>skill</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
