<template id="EditSchool" name="EditSchool">
  <div class="content" >
      <div class="container-fluid">
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">School Details</h4>
                    <form method="#" action="#">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">School Name</label>
                            <input type="text" class="form-control">
                        <span class="material-input"></span></div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Tag Line</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Quote</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Message</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Category</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Subject</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Skill</label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group">
                          <div class="description"></div>
                        </div>
                        <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Colour Settings</h4>
                    <form class="form-horizontal">
                      <div class="row">
                          <label class="col-md-5 label-on-left">Top Bar color</label>
                          <div class="col-md-7">
                            <div id="cp2" class="color-picker input-group colorpicker-component">
                              <input type="text" value="#00AABB" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <label class="col-md-5 label-on-left">Top Bar Color</label>
                        <div class="col-md-7">
                          <div id="cp2" class="color-picker input-group colorpicker-component">
                            <input type="text" value="#00AABB" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-5 label-on-left">Body Color</label>
                        <div class="col-md-7">
                          <div id="cp2" class="color-picker input-group colorpicker-component">
                            <input type="text" value="#00AABB" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-5 label-on-left">Module Color</label>
                        <div class="col-md-7">
                          <div id="cp2" class="color-picker input-group colorpicker-component">
                            <input type="text" value="#00AABB" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-5 label-on-left">Default Font</label>
                        <div class="col-md-7">
                          <div id="cp2" class="color-picker input-group colorpicker-component">
                            <input type="text" value="#00AABB" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="card">
              <div class="card-content text-center">
              <legend>Current Logo</legend>
              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail">
                      <img src="/images/YourStudio.png" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div>
                      <span class="btn btn-primary btn-round btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="...">
                      </span>
                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="card">
                <a href="/program_manager" class="card-header card-header-icon pull-right" data-background-color="btn-primary">
                    <i class="material-icons">add_box</i>
                </a>
                <div class="card-content">
                    <h4 class="card-title">Program</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Program Name</th>
                                <th>Description</th>
                                <th>Level is</th>
                                <th>Level #</th>
                                <th>Manage</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Muai Thai</td>
                                    <td><a href="#">Enter</a></td>
                                    <td>belt</td>
                                    <td class="text-primary">8</td>
                                    <td class="text-primary"><a href="/program_manager">Manage</a></td>
                                </tr>
                                <tr>
                                    <td>Brazilian Jujitsu</td>
                                    <td><a href="#">Brazilian Jujitsu</a></td>
                                    <td>belt</td>
                                    <td class="text-primary">5</td>
                                    <td class="text-primary"><a href="/program_manager">Manage</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Muai Thai</a></td>
                                    <td><a href="#">Enter</a></td>
                                    <td>belt</td>
                                    <td class="text-primary">5</td>
                                    <td class="text-primary"><a href="/program_manager">Manage</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-icon pull-right" data-background-color="btn-primary">
                  <a href="/add_class"><i class="material-icons">add_box</i></a>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Classes</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Class Name</th>
                                <th>Time</th>
                                <th>Resource</th>
                                <th>Recurring ?</th>
                                <th>Manage</th>
                            </thead>
                            <tbody>
                                <tr>
                                  <td><a href="#">Basic Striking</a></td>
                                  <td><a href="#">M W F 6:00 am to 10:am</a></td>
                                  <td>Big Room</td>
                                  <td class="text-primary">Y</td>
                                  <td class="text-right"><a href="/class_edit/1" class="">Edit</a>
                                      | <a href="/class_detail/1" class="">View</a> | <a href="#"
                                                                                                  class="">Delete</a> |<a href="#"> Duplicate</a>
                                  </td>
                                </tr>
                                <tr>
                                    <td>Advance Ground</td>
                                    <td>M W F 6:00 am to 10:am</td>
                                    <td>Small Room</td>
                                    <td class="text-primary">Y</td>
                                    <td class="text-right "><a href="/class_edit/1" class="">Edit</a>
                                        | <a href="/class_detail/1" class="">View</a> | <a href="#"
                                                                                                    class="">Delete</a> |<a href="#"> Duplicate</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</template>
