<template name="SchoolOverview">


  <div class="content" >
      <div class="container-fluid">
         <div class="row">
            <h1 class="no-margin">Welcome to <span class="text-warning">Your Studio</span></h1>
         </div>
        <div class="row">
           <div class="col-md-6 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
              <div class="heading-block">
                 <h2>Your Studio</h2>
              </div>
              <p>Our mission is to provide our members with the most premium facilities that will allow them to become fitter, faster and stronger.</p>
              <p>Don’t let excuses, grimy sweat or even the fear of building muscle get in the way of reaching your fitness destination. Contours helps you map out your journey as you discover and explore your potential to push boundaries, and emerge victorious in your quest to a fitter you.</p>
              <div class="button-normal green">
                <button type="button" class="btn btn-warning" id="studentsignupmodal">Join Our School</button>
              </div>
           </div>
           <div class="about-img col-md-6 wow zoomIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;"> <img class="img-responsive" src="/images/IMG_6871.jpg" alt="Kindergarten"></div>
        </div>
        <div class="row">
           <div class="heading-block wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
              <h2>OUR ACTIVITIES</h2>
           </div>
           <button type="button" class="btn btn-info">
              <span class="btn-label">
                  <i class="fa fa-check"></i>
              </span>
              Success
          </button>
           <div class="heading-block wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
              <h4 class="tagline line-bottom">Offer Category,Subject</h4>
           </div>
           <div class="row">
               <div class="col-md-4">
                 <div class="card card-stats">
                      <div class="card-header cust-header" data-background-color="blue">
                          <i class="material-icons">directions_run</i>
                      </div>
                      <div class="card-content">
                          <p class="category">Jungle Gym</p>
                          <h3 class="card-title">Jungle Gym</h3>
                          <img src="/images/img_1034.jpg" alt="Jungle Gym">
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">date_range</i> 12 Hours
                          </div>
                      </div>
                  </div>
               </div>
               <div class="col-md-4">
                 <div class="card card-stats">
                      <div class="card-header cust-header" data-background-color="blue">
                          <i class="material-icons">fitness_center</i>
                      </div>
                      <div class="card-content">
                          <p class="category">Capoeira</p>
                          <h3 class="card-title">Striking</h3>
                          <img src="https://img.grouponcdn.com/deal/bUs7gZkSycYJMfx8pxoq/rr-2048x1242/v1/c700x420.jpg" alt="Striking">
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">date_range</i> 24 Hours
                          </div>
                      </div>
                  </div>
               </div>
               <div class="col-md-4">
                 <div class="card card-stats">
                      <div class="card-header cust-header" data-background-color="blue">
                          <i class="material-icons">transfer_within_a_station</i>
                      </div>
                      <div class="card-content">
                          <p class="category">Capoeira</p>
                          <h3 class="card-title">Grappling</h3>
                          <img src="https://img.grouponcdn.com/iam/vWbkeLaABnuZJaayFHNW/KR-2048x1242/v1/c700x420.jpg" alt="Grappling">
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">date_range</i> 50 Hours
                          </div>
                      </div>
                  </div>
               </div>
           </div>
           <div class="heading-block wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
              <h4 class="tagline line-bottom">Offer Programs</h4>
           </div>
           <div class="row">
             <div class="col-md-4">
             <div class="card card-stats">
                  <div class="card-header cust-header" data-background-color="blue">
                      <i class="material-icons">airline_seat_recline_normal</i>
                  </div>
                  <div class="card-content">
                      <p class="category">ju-jitsu</p>
                      <h3 class="card-title">Leadership</h3>
                      <img src="/images/adult-karate-on-a-beach.jpg" alt="Grappling">
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> 50 Hours
                      </div>
                  </div>
              </div>
            </div>
             <div class="col-md-4">
               <div class="card card-stats">
                    <div class="card-header  cust-header" data-background-color="blue">
                        <i class="material-icons">accessibility</i>
                    </div>
                    <div class="card-content">
                        <p class="category">ju-jitsu</p>
                        <h3 class="card-title">Warrion Philosophy</h3>
                        <img src="/images/skill/martial-arts-25.jpg" alt="Grappling" >
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> 24 Hours
                        </div>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
               <div class="card card-stats">
                    <div class="card-header cust-header" data-background-color="blue">
                        <i class="material-icons">mood</i>
                    </div>
                    <div class="card-content">
                        <p class="category">ju-jitsu</p>
                        <h3 class="card-title">Children's Program</h3>
                        <div>
                          <img src="/images/child.jpeg" alt="Grappling">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> 10 Hours
                        </div>
                    </div>
                </div>
             </div>
           </div>

           <div class="heading-block wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
              <h4 class="tagline line-bottom">Offer Membership</h4>
           </div>
           <div class="row">
               <div class="col-md-3">
                   <div class="card card-pricing card-raised">
                       <div class="card-content">
                           <h6 class="category">Mixed</h6>
                           <div class="icon icon-info">
                               <i class="material-icons">fitness_center</i>
                           </div>
                           <h3 class="card-title">$100</h3>
                           <p class="card-description">
                               This is good if you want to attend all classes. Controlled contact with a professional coach present.
                           </p>
                           <a href="#" class="btn btn-info">Choose Offer</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="card card-pricing card-raised">
                       <div class="card-content">
                           <h6 class="category">Grappling</h6>
                           <div class="icon icon-info">
                               <i class="material-icons">transfer_within_a_station</i>
                           </div>
                           <h3 class="card-title">$30</h3>
                           <p class="card-description">
                               This class teaches the basic grappling movements of the first Olympic sport, building on your skills and techniques.
                           </p>
                           <a href="#" class="btn btn-info">Choose Offer</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="card card-pricing card-raised">
                       <div class="card-content">
                           <h6 class="category">Striking</h6>
                           <div class="icon icon-info">
                               <i class="material-icons">accessibility</i>
                           </div>
                           <h3 class="card-title">$60</h3>
                           <p class="card-description">
                               This class is designed to teach and practice both the offensive and defensive counter techniques.
                           </p>
                           <a href="#" class="btn btn-info">Choose Offer</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="card card-pricing card-raised">
                       <div class="card-content">
                           <h6 class="category">Jungle Gym</h6>
                           <div class="icon icon-info">
                               <i class="material-icons">directions_run</i>
                           </div>
                           <h3 class="card-title">$50</h3>
                           <p class="card-description">
                               This class has a tactical concept that involves physical confrontation between several combatants.
                           </p>
                           <a href="#" class="btn btn-info">Choose Offer</a>
                       </div>
                   </div>
               </div>
           </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="student-signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
      <div class="modal-dialog modal-md">
          <div class="modal-content ">
              <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="material-icons">clear</i>
                  </button>
                  <h4 class="modal-title">Register Student</h4>
              </div>
              <div class="modal-body">
                <form class="form" method="" action="">
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <input type="text" class="form-control" placeholder="Email..." id="email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <input type="password" placeholder="Password..." class="form-control" id="password"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <input type="password" placeholder="Re-Password..." class="form-control" id="re_password" />
                        </div>
                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                                <a href="#something">terms and conditions</a>.
                            </label>
                        </div>

                    </div>
                    <div class="footer text-center">
                        <button type="button" class="btn btn-primary btn-round btn_sign_up" id="btn_sign_up">Get Started</button>
                    </div>
                </form>
              </div>
         </div>
       </div>
   </div>
</template>
