<template id="Videos" name="Videos">
  <div class="col-md-12">
      <div class="card">
        <div class="card-header  pull-left" data-background-color="blue">
            <h4 class="card-title"><b>Videos</b></h4>
        </div>
        <div class="card-header pull-right" align="center">
          <button class="btn btn-warning pull-right">Upload Video
              <div class="ripple-container"></div>
          </button>
            <button class="btn btn-info pull-right">Recommend Video<div class="ripple-container"></div></button>

        </div>
            <div class="card-content">
              <div class="row col-sm-12">
                <div class="col-md-12">
                    <div class="card">
                      <div class="col-sm-4">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>
                          </div>
                      </div>
                        <div class="col-sm-8">
                          <div align="center">
                              <h5>Personal Video</h5></div>
                          <div class="card-content text-center">
                              <div> Joe Trila</div>
                              <div> Rastiera Technique</div>
                              <div>2/06/15</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                      <div class="col-sm-4">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>
                          </div>
                      </div>
                        <div class="col-sm-8">
                          <div align="center">
                              <h5>Personal Video</h5></div>
                          <div class="card-content text-center">
                              <div> Joe Trila</div>
                              <div> Sparring</div>
                              <div>2/14/15</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                      <div class="col-sm-4">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgMttr4Vc"></iframe>
                          </div>
                      </div>
                        <div class="col-sm-8">
                          <div align="center">
                              <h5>Suggested Video <br>JJ 2/14/15</h5></div>
                          <div class="card-content text-center">
                              <div>Rastiera Basics</div>
                              <br>
                          </div>
                        </div>
                    </div>
                </div>
              </div>

          </div>
      </div>
  </div>
</template>
