<template name="ComingSoon">
  <div class="full-page login-page home-page" filter-color="black" data-image="/images/comingsoon.jpg">
  <div class="content" style="display:block;opacity: 1;transform: translateY(0px);color: #6c5656;">
      <!-- <div class="container"> -->
          <div class="row">
            <div class="content text-center color-white">
            		<img src="/images/new-logo.png"  width="52" alt="" class="brand-logo text-intro mCS_img_loaded animated-middle fadeInUp">
            		<h1 class="text-intro text-countdown animated-middle fadeInUp">Coming Soon</h1>
        				<p class="text-intro animated-middle fadeInUp"></p>
        				<a href="#" id="open-more-info" data-target="info-wrap" class="light-btn text-intro animated-middle fadeInUp color-white">More Information</a> |
        				<a href="#" data-dialog="somedialog" class="action-btn trigger text-intro animated-middle fadeInUp color-white">Notify Me!</a>
        			</div>
          </div>
      <!-- </div> -->
  </div>
</div>
</template>
