<template id="ClassTemplate" name="ClassTemplate">
    <div class="content" >
        <div class="container-fluid">
          <div class="col-md-12 ">
            <a href="#" class="btn btn-info  pull-right">Filter</a>
          </div>
          <div class="col-md-12">
            <div class="card">                
                <div class="card-content">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title">Class Template</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Module</th>
                                    <th>Duration</th>
                                    <th>Created By</th>
                                    <th>Note</th>
                                    <th>Apply to class</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic Boxing</td>
                                    <td>Boxing ..</td>
                                    <td>2/2/2016</td>
                                    <td>Jhon</td>
                                    <td></td>
                                    <td><a href="">Apply to class</a></td>
                                    <td><a href="/class_detail/1">View</a> | <a href="#">Delete</a></td>
                                </tr>
                                <tr>
                                    <td>Basic Boxing</td>
                                    <td>Boxing ..</td>
                                    <td>JJ 2/2/2016</td>
                                    <td>Jhon</td>
                                    <td>redy</td>
                                    <td><a href="">Apply to class</a></td>
                                    <td><a href="/class_detail/1">View</a> | <a href="#">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
