<template id="ClassEdit" name="ClassEdit">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title">Class Editor</h4>
                            </div>
                            <div class="card-content">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card">
                                        <form method="get" action="/" class="form-horizontal">
                                            <div class="card-content">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="text-info">
                                                        <tr>
                                                            <th>Class Title</th>
                                                            <th>Planned Duration</th>
                                                            <th>Actual Duration</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td><a href="#" class="">Enter</a></td>
                                                            <td><a href="#" class="">Enter</a></td>
                                                            <td>65</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card card-note">
                                        <div class="card-header">
                                            <span class="label label-info">Notes:</span>
                                        </div>
                                        <div class="card-content">
                                            <textarea class="col-md-12 col-xs-12  note" name="notes" id=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                    <div class="card card-button">
                                        <button type='button' class='btn btn-sm col-md-12 btn-info'>Clear Builder
                                        </button>
                                        <button type='button' class='btn btn-sm col-md-12 btn-info load-class'>Load from
                                            Class
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title">
                            <div class="col-lg-12 col-md-12 col-sm-12 ">
                                <button class="btn btn-warning pull-right">Save<div class="ripple-container"></div></button>
                                <button class="btn btn-info pull-right">Save as Template<div class="ripple-container"></div></button>
                                <button class="btn btn-info pull-right" href="/schedule">Apply To Class<div class="ripple-container"></div></button>
                            </div>
                        </h4>
                        <div class="col-md-12">
                            <div class="col-lg-12">
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <h6 class="card-title">Meditation</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">5 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                            <h6 class="card-title">Warm Up</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">15 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-expand" aria-hidden="true"></i>
                                            <h6 class="card-title">First Technique</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">10 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-compress" aria-hidden="true"></i>
                                            <h6 class="card-title">Second Technique</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">10 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                                            <h6 class="card-title">Roda</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer ">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">15 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <h6 class="card-title">Meditation</h6>
                                        </div>
                                        <div class="card-footer cust-card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#pablo">5 minutes</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="card">
                                        <div class="card-content text-info text-center module-box">
                                            <a href="/SkillList">
                                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                <h6 class="card-title"><a href="/SkillList"> Add a Module</a></h6>
                                            </a>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i>
                                                <a href="#">Add minutes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="orange">
                        <h4 class="card-title">Schedule Class</h4>
                    </div>
                    <div class="card-content">
                        <form method="#" action="#">
                            <div class="form-group label-floating is-empty has-warning">
                                <label class="control-label">Class Name</label>
                                <input type="email" class="form-control">
                                <span class="material-input"></span></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="blue">
                                            <i class="material-icons">library_books</i>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">Start Date</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control datepicker" value="10/10/2016">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="blue">
                                            <i class="material-icons">av_timer</i>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">Start Time</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control timepicker" value="14:00">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="blue">
                                            <i class="material-icons">date_range</i>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">End Date</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control datepicker" value="05/03/2017">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="blue">
                                            <i class="material-icons">timelapse</i>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">End Time</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control timepicker" value="11:00">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="label-control"><b>Location</b></label>
                                            <select class="form-control cc_locationt" style="width:100%">
                                                <option>Location</option>
                                                <option>Main Room</option>
                                                <option>Small Room</option>
                                                <option>Outside</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="label-control"><b>Instructor</b></label>
                                            <select class="form-control cc_instructor" style="width:100%" multiple>
                                                <option>Instructor</option>
                                                <option>Jhon</option>
                                                <option>Mikal</option>
                                                <option>Sam</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control"><b>Assistants</b></label>
                                            <select class="form-control cc_assistants" style="width:100%" multiple>
                                                <option>Assistants</option>
                                                <option>Sam Schikowitz</option>
                                                <option>Ronda Rousey</option>
                                                <option>Bob Harper</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" class="repeating"> Repeating?
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 repeat_box">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title text-warning"><b>Repeat</b></h4>
                                <div class="col-sm-7">
                                    <div class="form-group is-empty has-warning">
                                        <select class="form-control is-empty has-warning"
                                                data-style="select-with-transition"
                                                title="Repeat" data-size="7">
                                            <option disabled> Choose Repeat</option>
                                            <option class="text-warning">Weekly</option>
                                            <option class="text-warning">Monthly</option>
                                            <option class="text-warning">Yearly</option>
                                        </select>
                                    </div>
                                    <div class="form-group label-floating is-empty has-warning">
                                        <label class="control-label">Repeat Every week</label>
                                        <input type="number" class="form-control">
                                        <span class="material-input"></span></div>

                                    <div class="form-group">
                                        <label class="label-control"><b>Start On</b></label>
                                        <input type="text" class="form-control datepicker" value="10/10/2016"/>
                                    </div>
                                    <div class="col-sm-12 row">
                                        <label class="label-control"><b>Ends</b></label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="col-md-4">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">Never
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8"></div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group label-floating is-empty has-warning">
                                                    <label class="control-label">After Occurrence</label>
                                                    <input type="number" class="form-control">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group" style="margin-top: -10px;">
                                                    <label class="control-label">On Specific Date</label>
                                                    <input type="text" class="form-control datepicker" value="10/10/2016"/>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <h5 class="card-title">Repeat On</h5>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Sunday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Monday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Tuesday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Wednesday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Thursday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Friday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"> Saturday
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-info close_rep">Cancel</a>
                                    <button type="button" class="btn btn-warning close_rep" id="btn_sign_up">
                                        Done
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">

                        <button type="button" class="btn btn-warning load-class" id="btn_sign_up">Load Class Build?
                        </button>

                        <button type="button" class="btn btn-warning pull-right" id="btn_sign_up">
                            Save
                        </button>
                        <a href="#" class="btn btn-info pull-right">Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>ClassTemplateModal}}
</template>
