<template id="ClassDetail" name="ClassDetail">
    <div class="content">
        <div class="container-fluid">

        <!-- {{#if or_check IsInstructor IsAdmin IsStaff }} -->

            <div class="row">
                <span class="fa fa-clock-o fa-2x" style="cursor: pointer" data-target="#toolBar" data-toggle="collapse"
                      title="Show/"></span>
            </div>

            <div class="collapse in" id="toolBar" style="margin-top: 10px">
                {{ > classToolBar }}
            </div>

                <!-- {{/if}} -->
            <div class="card reduce-margin">
                <div class="card-header card-header-text" data-background-color="blue">
                    <h4 class="card-title">Class Status</h4>
                </div>
                <div class="card-content">
                    <div class="col-md-2 col-sm-2">
                        <div class="col-md-12">
                            <h6 class="col-md-12 text-primary no-margin-bottom">Status</h6>
                            <p class="col-md-12">Scheduled</p>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <h6 class="col-md-12 text-primary no-margin-bottom">Build loaded by</h6>
                            <p class="col-md-12">Jay Kale</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="card-content text-info text-center no-padding-bottom">
                                <legend class="">Instructor</legend>
                                <img src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/c9a887ac-1f48-4280-a659-0d282c33c92c.jpg"
                                     class="img-circle status" alt="">
                                <p class="card-title" style="font-size: small;">Anderson Silva</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group">
                                    {{#if IsAdmin }}
                                        <button type="button" class="btn btn-warning btn-xs">Remove
                                            <div class="ripple-container"></div>
                                        </button>
                                    {{/if}}
                                    <a href="/MemberDetailsInstructor" class="btn btn-info btn-xs">View
                                        <div class="ripple-container"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="card-content text-info text-center no-padding-bottom">
                                <legend class="">Assistant</legend>
                                <img src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/0a5c4f2d-067e-47b8-a0fa-3c2ca6165f57.jpg"
                                     class="img-circle status" alt="">
                                <p class="card-title" style="font-size: small;">Jimmy Barrantes</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="btn-group">
                                    {{#if IsAdmin }}
                                        <button type="button" class="btn btn-warning btn-xs">Remove
                                            <div class="ripple-container"></div>
                                        </button>
                                    {{/if}}
                                    <a href="/MemberDetailsInstructor" class="btn btn-info btn-xs">View
                                        <div class="ripple-container"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        <div class="card card-button">
                            <div class="card-content text-center">
                                {{#if or IsInstructor IsAdmin }}
                                    <button href="/member_chooser" class="btn btn-success col-md-12" rel="tooltip">
                                        Join as Instructor
                                    </button>
                                {{/if}}
                                <button href="/member_chooser" type="button" class="btn btn-info col-md-12"
                                        rel="tooltip">Join as Assistant
                                </button>
                                <button href="/member_chooser" type="button" class="btn btn-warning col-md-12"
                                        rel="tooltip">Join As Student
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card reduce-margin">
                <div class="card-header card-header-text" data-background-color="blue">
                    <h4 class="card-title">Class Module View</h4>
                </div>
                <div class="card-content">
                    <div class="col-sm-10">
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-users" aria-hidden="true"></i>0.
                                    <h6 class="card-title">Meditation</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>
                                        <a href="#pablo">5 minutes</a>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 100%">
                                            <span class="sr-only">100% Complete (success)</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                           title="Duplicate"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                        <a class="text-info" rel="tooltip" data-placement="bottom" title="Delete"><i
                                                class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                    <h6 class="card-title">Warm Up</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>
                                        <a href="#pablo">15 minutes</a>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 100%">
                                            <span class="sr-only">100% Complete (success)</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Duplicate"><i class="fa fa-files-o"
                                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                    <h6 class="card-title">Drills</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>
                                        <a href="#pablo">10 minutes</a>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 100%">
                                            <span class="sr-only">100% Complete (success)</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Duplicate"><i class="fa fa-files-o"
                                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-compress" aria-hidden="true"></i>
                                    <h6 class="card-title">Sparring</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>
                                        <a href="#pablo">10 minutes</a>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete (success)</span>11
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Duplicate"><i class="fa fa-files-o"
                                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                    <h6 class="card-title">Roda</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i>
                                        <a href="#pablo">15 minutes</a>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%">
                                            <span class="sr-only">0% Complete (success)</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Duplicate"><i class="fa fa-files-o"
                                                                    aria-hidden="true"></i></a>
                                            <a class="text-info" rel="tooltip" data-placement="bottom"
                                               title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="card">
                                <div class="card-content text-info text-center">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <h6 class="card-title">Meditation</h6>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <div class="pull-left">
                                            <i class="material-icons">access_time</i>
                                            <a href="#pablo">5 minutes</a>
                                        </div>
                                    </div>
                                    <div class="progress display-block">
                                        <div class="progress-bar progress-bar-success progress-bar-success"
                                             role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%">
                                            <span class="sr-only">0% Complete (success)</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            {{#if or IsInstructor IsAdmin }}
                                                <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Duplicate"><i class="fa fa-files-o"
                                                                        aria-hidden="true"></i></a>
                                                <a class="text-info" rel="tooltip" data-placement="bottom"
                                                   title="Delete"><i class="fa fa-trash-o"
                                                                     aria-hidden="true"></i></a>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="progress progress-line-success">
                                <div class="progress-bar progress-bar-success" style="width: 65%">
                                    <span class="sr-only">65% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-sm">Total 60 min
                            <div class="ripple-container"></div>
                        </button>
                        {{#if or_check IsInstructor IsAdmin IsStaff }}
                            <a href="/class_edit/1" class="btn btn-info btn-sm">Edit
                                <div class="ripple-container"></div>
                            </a>
                        {{/if}}
                    </div>

                </div>
            </div>
            {{#if or IsInstructor IsAdmin }}
                <div class="card reduce-margin">
                    <div class="card-content">
                        <h4 class="card-title"> Students In Class</h4>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://s-media-cache-ak0.pinimg.com/736x/83/2a/46/832a460b522c84fa9650c11face5927e.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title" style="font-size: small;">Shanna <br>Ballou</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="http://www.hultprizeat.com/assets/Org-43/judge_636121528218613038.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Leroy <br> Kupiec</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://www.uvu.edu/uvusa/images/tanner.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Everett<br> Yeung</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="http://www.thewritersacademy.co.uk/wp-content/uploads/2015/10/Sophie-Kinsella-c-JOHN-SWANNELL-400x400.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Danika<br> Marlow</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="http://www.littlebookforbrides.com/wp-content/sabai/File/thumbnails/22df288c6dc8b4a1078c14e67fd017fd.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Gianna <br>Shearin</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://skillslab.tue.nl/pathtoimg.php?image=bart.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Rodger <br>Scipio</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://pharmacy.unc.edu/files/2015/06/Christina_Parker400x400.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Leanora<br> Lazenby</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="http://www.agileaustralia.com.au/2016/wp-content/uploads/2015/11/Luke-Hohmann-400px.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Stefan<br> Whittle </p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="http://dyn.talentegg.ca/team/29/29.png"
                                     class="img-circle" alt="">
                                <p class="card-title">Eldon<br> Mayhew</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://cms-assets.tutsplus.com/uploads/users/14/profiles/2264/profileImage/josh-square.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Kennith<br> Vieira</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">

                            <div class="card-content student text-info text-center">
                                <img src="https://format-com-cld-res.cloudinary.com/image/private/s--gTJdUrMi--/c_crop,h_1081,w_1600,x_0,y_0/c_fill,g_center,h_400,w_400/a_auto,fl_keep_iptc.progressive,q_95/v1/a6251873437fca6325a5d6c75271cab4/Headshot_Sesh-2.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Annett<br> Lupo</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 no-padding">
                            <div class="card-content student text-info text-center">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXmAAAAJGJhYmZkMzVjLTBkODMtNGYwMy1hMzVjLTg2ZmUzNmJkMWMyZA.jpg"
                                     class="img-circle" alt="">
                                <p class="card-title">Nelson<br> Gagnon</p>
                                <div class="stats">
                                    <a class="text-warning" rel="tooltip" data-placement="bottom"
                                       title="Check In"><i class="material-icons">playlist_add_check</i></a>
                                    <a class="text-info" rel="tooltip" data-placement="bottom"
                                       title="Evaluate"><i class="material-icons">rate_review</i></a>
                                    <a href="" class="text-info" rel="tooltip" data-placement="bottom"
                                       title="View Profile"><i class="material-icons md-14 text-success">dvr</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if or_check IsInstructor IsAdmin IsStaff }}
                <div class="card reduce-margin">
                    <div class="card-header card-header-icon pull-right add_evaluation"
                         data-background-color="blue">
                        <a href="#"><i class="material-icons">add_box</i></a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Evaluations Performance</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Student(s)</th>
                                    <th>Instructor</th>
                                    <th>Type</th>
                                    <th>Topic</th>
                                    <th>Score</th>
                                    <th>Note</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Rado</td>
                                    <td>Joe Schmo</td>
                                    <td>Bruce lee</td>
                                    <td>Physical Interaction</td>
                                    <td>Capoeira</td>
                                    <td>5/5</td>
                                    <td>greem Belt Test</td>
                                    <td><a href="/evaluation_details/1">Edit</a></td>
                                </tr>
                                <tr>
                                    <td>Simple Addition</td>
                                    <td>6 Student</td>
                                    <td>JJ Sara</td>
                                    <td>Written</td>
                                    <td>Adding single Digits</td>
                                    <td>7/10 avg</td>
                                    <td>Add Single digigts</td>
                                    <td><a href="/evaluation_details/1">Edit</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    {{>Evaluation}}
</template>
