<template id="MemberNewAdmin" name="MemberNewAdmin">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="col-md-8">
                                <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon text-warning">
                                                  <i class="material-icons">face</i>
                                                </span>
                                                <div class="form-group label-floating is-empty">
                                                    <input type="text" class="form-control" placeholder="First Name">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon text-warning">
                                      <i class="material-icons">record_voice_over</i>
                                    </span>
                                                <div class="form-group label-floating is-empty">
                                                    <input type="text" class="form-control" placeholder="Last Name">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="input-group">
                                      <span class="input-group-addon text-rose">
                                              <i class="material-icons">email</i>
                                              </span>
                                      <div class="form-group label-floating is-empty">
                                          <label class="control-label"></label>
                                          <input type="email" class="form-control " placeholder="Email address">
                                          <span class="material-input"></span></div>
                                  </div>

                                            <div class="input-group">
                                                <span class="input-group-addon text-success">
                                                    <i class="material-icons">phone</i>
                                                </span>
                                                <div class="form-group label-floating is-empty">
                                                    <input type="text" class="form-control" placeholder="Phone No">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>Staff
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>Instructor
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>Superadmin
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>Admin
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-content text-center">
                                        <button class="btn btn-success col-md-12">SAVE</button>
                                        <button class="btn btn-warning col-md-12">Give Paper Form</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
