<template id="ForgotPassword" name="ForgotPassword">
  <div class="full-page login-page home-page" filter-color="black" data-image="/images/comingsoon.jpg">
  <div class="content" style="padding-top: 0px;">
      <div class="row" id="forget_pass_modal">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 card-forgot">
            <form method="#" action="#">
                  <div class="card  card-hidden" style="padding-bottom: 0px;">
                      <div class="card-header text-center" data-background-color="info">
                          <h4 class="card-title">Forgot password</h4>
                      </div>
                      <div class="card-content">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">email</i>
                              </span>
                              <div class="form-group label-floating">
                                  <label class="control-label">Email address</label>
                                  <input type="email" class="form-control" id="email">
                              </div>
                          </div>
                      </div>
                      <div class="footer text-center">
                          <button type="button" id="btn_reset_password" class="btn btn-danger" style="width: 80%;">Submit</button>
                      </div>
                      <div class="panel-footer">
                          <span class="pull-right">Back to <a href="/Login" class="btn btn-primary btn-sm back_to_login"> Login</a></span>
                          <span class="">Not Member yet? <a href="/Join" class="btn btn-primary btn-sm btn_signup">Join Now</a></span>
                          <!-- <button id="lost_register_btn" type="button" class="btn btn-link">become member</button> -->
                      </div>
                  </div>
              </form>
        </div>
    </div>
  </div>
</div>
</template>
