<template id="Login" name="Login">
  <div class="full-page login-page home-page" filter-color="black" data-image="/images/comingsoon.jpg">
  <div class="content" style="padding-top: 0px;">
          <div class="row">
          <div class="login-card">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form method="#" action="#" id="loginmodal">
                    <div class="card card-login card-hidden" style="padding-bottom: 0px;">
                        <div class="card-header text-center" data-background-color="info">
                            <h4 class="card-title">Login</h4>
                        </div>
                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email address</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                                <div class="form-group label-floating">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="button" id="btn_login" class="btn btn-danger">Log in</button>
                            <br>
                            <a href="/ForgotPassword" class="">Lost your password? Click Here</a>
                            <br>
                        </div>
                        <div class="panel-footer text-center">
                            <span class="">Not a member yet? <a href="/Join" class="btn btn-primary btn-sm">Join Now</a></span>
                        </div>
                    </div>
                </form>
            </div>
          </div>
      </div>
  </div>
</div>
</template>
