<template name="RecoverPassword">
  <div class="full-page login-page home-page" filter-color="black" data-image="/images/comingsoon.jpg">
  <div class="content" style="padding-top: 0px;">
          <div class="row">
          <div class="login-card">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form method="#" action="#" id="loginmodal">
                    <div class="card card-login card-hidden" style="padding-bottom: 0px;">
                        <div class="card-header text-center" data-background-color="info">
                            <h4 class="card-title">Reset Password</h4>
                        </div>
                        {{#if resetPassword}}
                        <div class="card-content">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">lock_outline</i>
                              </span>
                              <input type="password" placeholder="Password..." class="form-control" id="resetPasswordPassword"/>
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">lock_outline</i>
                              </span>
                              <input type="password" placeholder="Re-Password..." class="form-control" id="resetPasswordPasswordConfirm" />
                          </div>
                        </div>
                        {{/if}}
                        <div class="footer text-center">
                            <button type="button" id="resetPassword" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
      </div>
  </div>
</div>
</template>
