<template name="EditUser">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        {{#if currentUser}}
        <div class="company-form col-md-12">
        <form id="EditUseForm" novalidate="novalidate">
          <div class="panel-title col-md-12">
            <h3 style="margin-bottom: 20px;">Update User</h3>
            <a class="goBack btn btn-info pull-right">Back</a>
          </div>

              <div class="col-md-12">
          <!-- <div class="form-group">
            {{#each  profile_pic profile.pic}}
              <img src="{{this.url}}" class="img-responsive" style="height:100px">
            {{/each}}
          </div> -->
          <!-- <div class="col-md-4">
            <div class="form-group">

              {{#each  profile_pic profile.pic}}
                  <img src="{{this.url}}" class="img-responsive" style="height:80px">
                {{else}}
                  <img src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/be7d9c7c-c2ea-4b92-9ea5-024d92973cb5.jpg" class="img-responsive" >
              {{/each}}
            </div>
          </div>
          <div class="col-md-6">
            <label>Pic</label>
            <input type="file" class="form-control" id="pic" name="pic" >
          </div> -->
          <div class="col-md-4 col-sm-2">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/be7d9c7c-c2ea-4b92-9ea5-024d92973cb5.jpg" alt="Profile Image" id="pic">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                        <span class="btn btn-warning btn-sm btn-file">
                            <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="hidden"><input type="file" name="...">
                        </span>
                        <a href="#pablo" class="btn btn-danger  fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </div>
                </div>
            </div>


        <div class="col-md-8">
          <div class="form-group">
            <label>Email</label>
              <input type="text" class="form-control form-mandatory" placeholder="Email" name="email"  id="email" value="{{emails.[0].address}}" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control form-mandatory" placeholder="First Name" name="profile.firstName" id="firstName" value="{{profile.firstName}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="profile.lastName" id="lastName" value="{{profile.lastName}}">
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>URL</label>
            <input type="text" class="form-control" placeholder="URL" name="profile.url"  id="url" value="{{profile.url}}">
          </div>
        </div> -->
        <div class="col-md-8">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="Phone" name="profile.phone"  id="phone" value="{{profile.phone}}">
          </div>
        </div>
        <div class="col-md-8">
        <div class="form-group label-floating">
        <label class="control-label">Role</label>
        <select class="form-control" id="role" style="width:100%">
            <option disabled>Role</option>
              <option value="Superadmin" >Superadmin</option>
              <option value="Admin">Admin</option>
              <option value="Instructor">Instructor</option>
              <option value="Staff">Staff</option>
              <option value="Student">Student</option>

        </select>
      </div>
    </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Demo user</label>
          <input type="checkbox" {{id_demo_user profile.is_demo_user}} id="is_demo_user">
        </div>
      </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Desc</label>
            <textarea class="form-control" placeholder="Description" name="profile.desc" value={{profile.desc}} id="desc" rows="4"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-right">
            <button type="submit" id="btn_update" class="btn btn-success">Submit</button>
          </div>
        </div>
          </form>
        </div>
          {{/if}}
      </div>
    </div>
</div>
</template>
