<template name="ListUser">
  {{#IfLoggedIn}}
  <div class="card user-manager-card col-md-12">
    <div class="header col-md-12 no-h-padding">
      <div class="col-md-6 no-l-padding"><h4 class="title">Manage Users</h4></div>
      <!-- <p class="category">Here is a subtitle for this table</p> -->
      <!-- <div class="col-md-6  no-r-padding text-right"><a href="{{ pathFor 'AddUser' }}" class="btn btn-success">Add User</a></div> -->
      <div class="col-md-6  no-r-padding text-right"><a href="/MemberNewAdmin" class="btn btn-success">Add User</a></div>
    </div>
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>

            <th>Email Id</th>
            <th>Name</th>
            <th>Role</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{> pages}}
        </tbody>
      </table>
    </div>
  </div>
  {{#if user_count}}
  <div class="col-md-12 text-right">
    <div class="pagination-bg">
      <ul class="pagination pagination-no-border">
        {{> pagesNav}}
      </ul>
    </div>
  </div>
  {{/if}}
  {{/IfLoggedIn}}
</template>

<template name="User">
  <tr>
    <td>

      {{#each user_logo profile.pic}}
            <div class="img-circle"><img src="{{this.url}}" class="img-responsive" style="height:50px"></div>
      {{else}}
         <img class="img-circle" src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/be7d9c7c-c2ea-4b92-9ea5-024d92973cb5.jpg" style="height:50px;width:50px;">
      {{/each}}
      </td>
    <td>{{#each emails}}{{address}}{{/each}}</td>
    <td>{{profile.firstName}} {{profile.lastName}}</td>
    <td>{{#each roles}}{{this}}{{/each}}</td>
    <td class="td-actions text-right">
      {{>UserActionBtns}}
    </td>
  </tr>
</template>


<template name="UserActionBtns">
  <!-- {{#if is_admin_user this}} -->
  <!-- <a href="#" rel="tooltip" title="" class="normal btn btn-info btn-simple btn-xs" data-id={{_id}} data-original-title="View Profile">
    Reset Admin
    <i class="fa fa-user fa-2x"></i>
  </a> -->
  <!-- <a href="#" class="normal btn btn-info btn-xs" data-id={{_id}}>Reset Admin</a> -->
  <!-- {{else}} -->
  <!-- <a href="#" rel="tooltip" title="" class="admin btn btn-info btn-simple btn-xs text-success" data-id={{_id}} data-original-title="View Profile">
    Set Admin
    <i class="fa fa-user fa-2x"></i>
  </a> -->
  <!-- <a href="#" class="admin btn btn-warning btn-xs" data-id={{_id}}>Set Admin</a> -->
  <!-- {{/if}} -->
  <a href="{{pathFor 'EditUser'}}" rel="tooltip" title="" class="btn btn-simple btn-xs" data-original-title="Edit Profile">
      <i class="fa fa-edit fa-2x"></i>
    </a>
  <!-- <a href="{{pathFor 'EditUser'}}" class="btn btn-primary btn-xs">Edit</a> -->
  {{#if is_login_user this}}
  <a href="#" rel="tooltip" title="" class="delete btn btn-danger btn-simple btn-xs" data-id={{_id}} data-original-title="Delete">
    <i class="fa fa-times fa-2x"></i>
  </a>
  {{/if}}

</template>
