<template name="MyProfile">
  <!-- <div class="full-page login-page home-page" filter-color="black" data-image="/images/comingsoon.jpg"> -->
  <div class="content">
       <div class="container-fluid">
         <div class="card">
             <div class="row">
                 <div class="card-header card-header-icon" data-background-color="blue">
                     <i class="material-icons">perm_identity</i>
                 </div>
             </div>
           <div class="col-md-3 text-center" style="padding-top:20px;">
             <div class="fileinput fileinput-new card-button text-center" data-provides="fileinput">
                 <div class="fileinput-new card-button thumbnail">
                     <img class="" src="{{ValidateImage pic}}" alt="Profile Image" id="pic">
                 </div>
                 <div class="fileinput-preview fileinput-exists thumbnail"></div>
                 <div>
                     <span class="btn btn-warning btn-sm btn-file">
                             <span class="fileinput-new">Upload New Image</span>
                     <span class="fileinput-exists">Change</span>
                     <input type="hidden">
                     <input type="file" name="..." accept="image/*" id="ProfileImage">
                     </span>
                     <a href="#" class="btn btn-danger  fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>Remove</a>
                 </div>
             </div>
           </div>
           <div class="col-md-8 right txtwar">
             <div class="form-group row">
               <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">First Name</label>
               <div class="col-md-10">
                 <input class="form-control" type="text"  id="firstName" value="{{firstName}}">
               </div>
             </div>
             <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Nickname</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="nickame" value="{{nickame}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Last Name</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="lastName" value="{{lastName}}">
                <small >Your public profile only shows your first name and nickname. When you join a school, your instructors will see your first and last name.</small>
              </div>

            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">I AM</label>
              <div class="col-md-10">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="gender" value="{{gender}}">
                  <option selected></option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <br>
                <small>We use this data for analysis and never shared it with other users.</small>
              </div>

            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Birth Date</label>
              <div class="col-md-10">
                <input class="form-control datepicker" type="text"  id="dob" value="{{dob}}">
                <small>The wonderful day you took your first breath. We use this data for analysis and never share it wuth other users.</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Email</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="example-text-input" value="{{email}}" readonly="true">
                <small>We won't share your private email address with other Members.</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Phone</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="phone" value="{{phone}}">
                <small>This is only shared with Administrators of school you have enrolled in.</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label" style="text-align: right;">Address</label>
              <div class="col-md-10">
                <input class="form-control" type="text"  id="address" value="{{address}}">
                <small>Please enter your address, including zip code and country. We only use this to help you find classes in your area and do not share it.</small>
              </div>
            </div>
            <div class="row form-group right">
              <button type='button' class='btn btn-md btn-rose' id="btn_update_user"> Save</button>
            </div>
            
			         
            
           </div>
		   
		   
         </div>
       </div>
  </div>
</template>
