<template name="ResetPassword">
    <div class="wrapper" >
      <div class="header header-filter" style="background-image: url('/images/bg2.jpeg');">
         <div class="container">
             <div class="row" style="padding-top:70px;">
              <div class="col-md-6">
               <h1 class="title" style="color:white;">Enter New Password</h1>
              </div>
             </div>
         </div>
     </div>

  <div class="main main-raised">
   <div class="container">
     <div class="row" >
         <div class="col-sm-8 col-md-offset-2" id="reset_password">
           <div class="input-group">
                   <span class="input-group-addon">
                     <i class="material-icons">mail</i>
                   </span>
                   <div class="form-group is-empty">
                      <input id="resetPasswordPassword" name="password" class="form-control" placeholder="New Password" type="password" >
                   <span class="material-input"></span></div>
                 </div>
                <div class="input-group">
                   <span class="input-group-addon">
                     <i class="material-icons">lock_outline</i>
                   </span>
                   <div class="form-group is-empty">
                     <input id="resetPasswordPasswordConfirm" name="password-confirm" class="form-control" placeholder="Confirm" type="password" >
                     <span class="material-input"></span></div>
                 </div>
                 <input class="btn btn-info" type="submit" value="Reset" id="resetPasswordForm">
       </div>
   </div>
  </div>
</div>
</div>
</template>
