.next-tab {
    bottom: 0;
    right: 0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

.prev-tab {
    bottom: 0;
    left: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

.table-responsive {
    overflow: visible !important;
}
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
.carousel-control {    width: 4% !important;}
.carousel-control.left{
  background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 50%) !important;
}
.carousel-control.right{
  background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0.1) 50%) !important;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.box-row{padding-top: 15px !important;} 
.card .card-list-title{margin-top: 8px !important; }
.table-capacity-heading tr th{font-weight: 600 !important;font-size:12px !important;}
.table-capacity-heading tr td,.table-capacity-content tr td
{
  text-align:left !important;
}
.room-content-box {text-align: left;}
.room-content-box h4{padding: 0px 20px;display: inline-block;}
