<template id="MemberList" name="MemberList">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs" data-background-color="blue">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                      {{#if or IsStaff IsAdmin }}
                                        <li class="active">
                                            <a href="/MemberNewAdmin">
                                                <i class="material-icons">group add</i> Add Staff
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        {{/if}}
                                        <li class="filter-archive">
                                            <a href="#" data-toggle="tab" class="text-right">
                                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <tr>
                                            <th>Staff</th>
                                            <th>Ken Nestier</th>
                                            <th>Linda Ronstat</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Hours</td>
                                            <td>M-F-9-5</td>
                                            <td>Tues-Sat 9-5</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                        <tr>
                                            <td>Fornt desk</td>
                                            <td>no</td>
                                            <td>no</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                        <tr>
                                            <td>Clean-up</td>
                                            <td>no</td>
                                            <td>no</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                        <tr>
                                            <td>Close</td>
                                            <td>no</td>
                                            <td>yes</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                        <tr>
                                            <td>Inventory</td>
                                            <td>yes</td>
                                            <td>no</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                        <tr>
                                            <td>Open</td>
                                            <td>yes</td>
                                            <td>yes</td>
                                            <td><a href="#">Enter</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-block wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                    <h4 class="tagline line-bottom">Staff</h4>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header pull-right" data-background-color="blue">
                          <i class="fa fa-users" aria-hidden="true"></i>
                      </div>
                      <div class="card-content">
                          <h3 class="card-title">Jane Mulaney</h3>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header pull-right" data-background-color="blue">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Ken Nestler</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header pull-right" data-background-color="blue">
                      <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="card-content">
                      <h3 class="card-title">Linda Ronstat</h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-stats">
                <div class="card-header pull-right" data-background-color="blue">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="card-content">
                    <h3 class="card-title">Dana White</h3>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</template>
