<template id="Instructor" name="Instructor">
  <div class="content" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
              <div class="card card-profile">
                    <div class="card-content">
                      <div class="card-image instructor-image" data-header-animation="true">
                          <div class="img-circle">
                              <img src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/287c164e-c0b2-4169-8b17-d9275eea56f5.jpg">
                          </div>
                      </div>
                      <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#pablo">Rhonda Rousay</a>
                        </h4>
                        <div class="card-description">
                            Sam Schikowitz, known professionally as Sam, is an American personal trainer, author, and former actor. She is best known as the creator of the commercial home exercise regimen P90X.
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="row" style="padding-top:10px;">
                      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                           <img src="http://images.shape.mdpcdn.com/sites/shape.com/files/styles/channel_masonry/public/story/womenandtrainer-700.jpg?itok=lt6L-0lW" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                           <img src="http://ironbellefitness.com/clients/18594/images/benefits-of-hiring-a-trainer1a.jpg" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                           <img src="https://www.methodfitness.com/wp-content/uploads/2011/01/work-11.jpg" class="img-responsive">
                       </div>
                     </div>
                   </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-profile">
                  <div class="card-content">
                    <div class="card-image instructor-image" data-header-animation="true">
                        <a href="#">
                            <img class="img-responsive" src="http://s3-eu-west-1.amazonaws.com/graphical.io/graphical/0a5c4f2d-067e-47b8-a0fa-3c2ca6165f57.jpg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#">Bob Harper</a>
                        </h4>
                        <div class="card-description">
                          Robert "Bob" Harper is an American personal trainer and author. He appears on the American television series The Biggest Loser. On September 8, 2015, Harper was announced as new host of The Biggest Loser, succeeding Alison Sweeney.
                        </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="row" style="padding-top:10px;">
                      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                           <img src="http://fitbodz.com.au/wp-content/uploads/2014/07/training-home-bottom-300x300.jpg" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                           <img src="https://qph.ec.quoracdn.net/main-qimg-7063a4845a4fb0fb45abda8a36d8210f-c" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                           <img src="http://exercisescienceacademy.com.cp-3.webhostbox.net/site/wp-content/uploads/2014/01/1024-dreamstime_2849619-300x300.jpg" class="img-responsive">
                       </div>
                     </div>
                   </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
          <!-- <div class="col-md-6">
              <div class="card card-profile">
                  <div class="card-content">
                    <div class="row alert alert-warning" style="padding-bottom:10px;">
                      <div class="col-sm-8" style="padding-bottom:5px;">

                        <h4 class="card-title text-warning">Alec Thompson</h4>
                        <p class="description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens.
                            <br>
                            <a href="#" class="btn btn-xs btn-rose btn-round">View More</a>
                            <a href="#" class="btn btn-xs btn-rose btn-round">Edit Details</a>
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <img class="img-responsive" src="/images/faces/marc.jpg" />
                      </div>
                    </div>
                      <div class="row">
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                        <iframe class="col-sm-6" src="https://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="row" style="padding-top:10px;">
                      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                           <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                           <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                       </div>

                       <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                           <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                       </div>
                     </div>

                  </div>
              </div>
          </div> -->
</template>
